.cart-wrp {
    width: 100%;
    padding: 15px 0;
    display: inline-block;

    .headline {
        h1 {
            display: inline;
            text-transform: uppercase;
            margin-right: 15px;
        }
    }

    .item {
        border-bottom: 1px solid $border-color;

        .separator {
            margin: 0 5px;
        }
    }

    .summary-wrp {
        .summary-row {
            margin-left: -15px;
            margin-right: -15px;
            padding: 10px 15px;
            display: flex;
            justify-content: space-between;
        }

        .totals {
            font-weight: $font-weight-bold;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
        }

        .voucher {
            margin-left: -15px;
            margin-right: -15px;

            .voucher-content {
                display: flex;

                .hbl-input-group {
                    margin: 0;
                    flex: 1;

                    input {
                        background: $background;
                    }
                }

                button {
                    width: 130px;
                }
            }
        }

        > button, > a {
            margin-left: 0;
            display: block;
            margin-right: 0;
        }
    }
}

.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $background-light;
    padding: 40px;
    width: 100%;

    &.cart-wrp {
        padding: 60px;
        margin: 20px 0;
        border: 1px solid $border-color;
    }

    i {
        width: 65px;
        height: 65px;
        line-height: 65px;
        text-align: center;
        color: $border-color;
        font-size: 60px;
        margin-bottom: 20px;
    }

    .headline-1 {
        margin-bottom: 20px;
        text-align: center;
    }
}

/* Tablet */
@media(min-width: 768px) {
    .cart-wrp {
        padding: 20px 0;

        .headline {
            margin: 5px 0 20px;
        }

        .item {
            margin: 0 0 10px;
            border: 1px solid $border-color;
        }

        .summary-wrp {
            border: 1px solid $border-color;
            background-color: $background-light;
            padding: 40px;

            .summary-row {
                margin-left: 0;
                margin-right: 0;
                padding: 10px 0;
            }

            .voucher {
                .voucher-content {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    padding: 15px;

                    .coupons-wrp {
                        width: 100%;
                        padding: 0;
                        margin: 0;
                    }

                    .coupon-title {
                        font-size: 16px;
                        text-transform: uppercase;
                    }


                }
            }
        }

        .cart-items-list.item .img-minicart {
            max-width: 100px !important;
            max-height: 100px !important;
        }

        .empty-cart {
            padding: 60px;
        }
    }
}

/* Desktop */
@media(min-width: 1024px) {
    .cart-wrp {
        padding: 60px 0;

        .items-wrp {
            max-width: 880px;
            width: 50%;
            float: left;
        }

        .summary-container {
            max-width: 540px;
            width: 45%;
            float: right;
        }

        .empty-cart {
            padding: 80px;
        }
    }
}
