.progress-bar-wrp {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    position: relative;

    &:before {
        content: '';
        height: 1px;
        background-color: $border-color;
        width: calc(100% - 50px);
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .step {
        cursor: pointer;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: $text-primary;
        background: $background;
        min-width: 65px;

        &.nuxt-link-exact-active {
            color: $primary !important;

            .no, .icon {
                background-color: $primary;
                color: #fff;
            }
        }

        .no, .icon {
            color: $text-primary;
            background-color: #f5f5f5;
            border: 1px solid $border-color;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            margin-bottom: 10px;
        }
    }
}

/* Desktop */
@media(min-width: 1024px) {
    .progress-bar-wrp {
        max-width: 1080px;
    }
}
