.collapse-wrp {
  width: 100%;

  button {
    display: flex;
    text-align: center;

    &.align-left {
      justify-content: flex-start;
      align-items: center;
      padding-right: 50px;
    }
  }

  .icon {
    position: absolute;
    right: 20px;
  }

  .collapse-item {
    overflow: hidden;
    transition: max-height .3s;
    display: flex;
    flex-direction: column;

    button {
      justify-content: center;
    }

    >* {
      padding: 15px;
    }
  }
}
