.password-change-wrp {

  .pw-change {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
  }

  .password-change-form-wrp {
    padding: 15px;
  }
}

@media(min-width: 1024px) {
  .password-change-wrp {

    .content-wrp {
      padding: 15px 40px;
    }
  }
}

