.img-lazy-wrp {
  position: relative;
    .LazyImage {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        vertical-align: middle;

        transition: opacity .2s ease;
        opacity: 1;

        &.loading {
            opacity: 0;
        }
    }

    .loader {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.product-card {
    .card-media {
        .img-lazy-wrp {
            width: 100%;
        }
    }
}
