.order-detail-wrp {
    .order-id {
        margin-bottom: 20px;
        font-weight: $font-weight-bold;
    }

    .order-row {
        margin-bottom: 20px;

        .order-col {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid $border-color;

            .headline {
                margin-bottom: 15px;
            }
        }
    }

    .cart-items-list {
        margin-bottom: 10px;
    }

    .summary-container {
        margin-bottom: 10px;

        .summary-wrp {
            border: 1px solid $border-color;
            padding: 10px 15px;
            background-color: $background-light;

            .summary-row {
                display: flex;
                justify-content: space-between;

                &.sub-totals {
                    margin-bottom: 15px;
                }

                &.shipping-costs {
                    border-bottom: 1px solid $border-color;
                    padding-bottom: 15px;
                }

                &.totals {
                    border-bottom: 1px solid $border-color;
                    padding: 15px 0;
                    font-weight: $font-weight-bold;
                }
            }
        }

        button {
            margin: 15px 0 0;
        }
    }
}

/* Tablet */
@media(min-width: 768px) {
    .order-detail-wrp {
        .order-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            .order-col {
                width: 30%;
                border: none;
                margin-bottom: 0;
                padding: 0;
            }
        }

        .cart-items-list {
            &:last-child {
                margin-bottom: 30px;
            }
        }

        .summary-container {
            margin-bottom: 20px;
            max-width: 540px;
            margin-left: auto;

            .summary-wrp {
                padding: 40px;
            }

            button {
                width: 100%;
            }
        }
    }
}
