.sidebar-nav-wrp {
    > div {
        position: relative;
    }

    i {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }

    .sidebar-nav-title {
        font-weight: $font-weight-bold;
        margin-bottom: 8px;
    }

    .level1-category-item {
        a {
            line-height: 16px;
            margin-bottom: 10px;
            display: block;
        }
    }

    .level2-category-item {
        a {
            margin: 8px 15px 10px;
        }
    }

    .current {
        > a {
            font-weight: $font-weight-bold;
        }
    }
}
