.options-wrp-non-interactive {
    margin: 0;
    text-align: center;

    .option {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .option-value {
            width: 40px;
            height: 20px;
            border: 1px solid $border-color;
            line-height: 20px;
            background: $background-light;
            margin-right: 5px;
            margin-bottom: 5px;
            text-align: center;
            font-size: 12px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
