.cross-selling-wrp {
    display: flex;
    flex-direction: column;

    .loader {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 200px;
    }
}
