.register-form {
  .register-loader {
    height: 18px;

    > div {
      top: 7px;
    }
  }

}
.form-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &.street-nr {
        .hbl-input-group:nth-child(1) {
            width: calc(100% - 90px);
        }
        .hbl-input-group:nth-child(2) {
            width: 80px;
        }
    }

    &.zip-city {
        .hbl-input-group:nth-child(1) {
            width: 80px;
        }
        .hbl-input-group:nth-child(2) {
            width: calc(100% - 90px);
        }
    }
}
