.shipping-methods-wrp {
    margin-bottom: 30px;

    .headline {
        margin-bottom: 20px;
    }

    .method-wrp {
        padding: 0 15px;
        background: $background-light;
        border: 1px solid $border-color;
        margin-bottom: 5px;

        .method-label {
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .name {
            font-size: 16px;
        }

        .description {
            display: none;
        }

        .method-image-shipping_by_dhl {
            position: absolute;
            right: -7px;
            top: 0;
            bottom: 0;
            margin: auto 0;
            width: 51px;
            height: 31px;
            background-image: url("~assets/images/shipping/dhl_200x120.png");
            background-size: cover;
        }
    }
}

.shipping-methods-placeholder {
    height: 260px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.shipping-methods-api-error-wrp {
    color: $error-accent;
    margin: 20px 0;
}

/* Tablet */
@media(min-width: 768px) {
    .shipping-methods-wrp {
        .method-wrp {
            .description {
                display: inline;
                margin-left: 20px;
            }
        }
    }
}
