/*
<tabs>
    <tab name="First tab">
        This is the content of the first tab
    </tab>
    <tab name="Second tab">
        This is the content of the second tab
    </tab>
    <tab name="Disabled tab" :is-disabled="true">
        This content will be unavailable while :is-disabled prop set to true
    </tab>
    <tab id="oh-hi-mark" name="Custom fragment">
        The fragment that is appended to the url can be customized
    </tab>
    <tab prefix="<span class='glyphicon glyphicon-star'></span> "
        name="Prefix and suffix"
        suffix=" <span class='badge'>4</span>">
        A prefix and a suffix can be added
    </tab>
</tabs>
*/

/* Material Tab Styling */
.tabs-component {
    width: 100%;
    background: $background;

    .tabs-component-tabs {
        flex: 1;
        position: relative;
        list-style: none;
        padding: 0;
        display: flex;
        border-bottom: 1px solid $border-color;
        margin: 0;

        .tabs-component-tab {
            text-align: center;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 15px;
            width: 50%;

            a {
                color: $text-primary;
                width: 100%;
            }

            &.is-active {
                a {
                    color: $primary;
                }
            }

            &:after {
                display: none;
            }
        }

        .tabs-component-tab-a {
            cursor: pointer;
            font-size: 13px;
            padding: 10px 15px;
        }
    }

    .active-bar {
        position: absolute;
        left: 0;
        bottom: 0;

        height: 2px;
        width: 50px;
        background-color: $primary;

        transition: all 0.2s ease-in-out;

        &.default {
            width: 100%;
        }
    }

    .tabs-component-panels {
        padding: 20px;
        position: relative;
        max-height: 50vh;
        overflow-y: scroll;

        .tabs-component-panel {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;

            position: relative;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            padding: 10px 0;
            overflow-y: scroll;
            overflow-x: hidden;

            .tab-content {
                width: 100%;
            }

            .selected-filters {
                order: -1;
                margin-bottom: 20px;
            }

            .row {
                flex-grow: 1;
            }
        }
    }
}

/* Desktop */
@media(min-width: 768px) {
    .tabs-component {
        .tabs-component-tabs {
            .tabs-component-tab {
                width: auto;
                flex: none;
            }
        }
        .tabs-component-panels {
            max-height: none;
            overflow-y: visible;

            .tabs-component-panel {
                display: block;
                overflow: visible;

                .selected-filters {
                    margin-bottom: 0;
                }
            }
        }
    }
}
