.logo-wrp {
  height: 55px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.logo {
  margin: 0 auto 0 0;
  display: block;
  overflow: hidden;
  vertical-align: middle;
  height: auto;

  img {
    width: 75px;
  }

  .logo-desktop {
    display: none;
  }

  .logo-mobile {
    display: block;
  }

  #logo {
    path, polygon {
      fill: $accent;
      &.bg-primary {
        fill: $primary;
      }
    }
  }
}

/* Tablet */
@media(min-width: 768px) {
  .logo-wrp {
    margin-right: auto;
    width: auto;
    border-bottom: 0;
    height: 25px;
  }
  .logo {
    display: block;

    img {
      position: relative;
      top: inherit;
    }

    .logo-desktop {
      display: block;
    }

    .logo-mobile {
      display: none;
    }

    #logo {
      path, polygon {
        fill: #fff;
        &.bg-primary {
          fill: #fff;
        }
      }
    }
  }
}

/* Desktop */
@media(min-width: 1024px) {
  .logo-wrp {
    margin-right: 0;
  }

  .logo {
    img {
      width: 115px;
    }
  }
}
