.view-category, .view-catalogsearch {
    .category-header {
        padding: $base-padding;
        text-align: left;
        position: relative;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $border-color;

        .title {
            text-transform: uppercase;
            margin-top: 5px;
            margin-bottom: 10px;
        }

        .text-excerpt {
            p {
                margin-bottom: 0;
            }
        }
    }

    .manufacturer-teaser {
        margin-bottom: 20px;

        img {
            width: 100%;
        }
    }

    .main-categories {
        button {
            margin-bottom: 20px;
            margin-right: 10px;
        }
        .nuxt-link-exact-active {
            button {
                background: $primary;
                color: $background;
                border: 2px solid $primary;
            }
        }
    }

    .category-content-wrp, .search-content-wrp {
        padding: 0 $base-padding;

        .category-products-wrp, .search-products-wrp {
            padding: 0;

            .pagination-top {
                margin-bottom: 5px;
            }

            .pagination-bottom {
                margin-bottom: 20px;
            }

            .category-description {
                display: inline-block;
                margin-bottom: 20px;

                p {
                    margin-bottom: 20px;
                }

                h3, h4, h5 {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-weight: $font-weight-bold;
                }
            }
        }
    }
}

@media(min-width: 768px) {
    .view-category, .view-catalogsearch {
        .category-header, .search-result-header {
            margin: 0 auto 0;
            padding-left: $base-padding-md;
            padding-right: $base-padding-md;
            border-bottom: 1px solid $background-light;
            margin-bottom: 20px;

            .title {
                text-transform: uppercase;
                margin-top: 0;
            }
        }

        .category-content-wrp, .search-content-wrp {
            padding: 0 $base-padding-md;

            .pagination-bottom {
                margin-bottom: 40px;
                margin-top: 80px;
            }
        }
    }
}

@media(min-width: 1024px) {
    .view-category, .view-catalogsearch {
        .category-content-wrp, .search-content-wrp {
            display: flex;
            padding-left: $base-padding-md;
            padding-right: $base-padding-md;

            .sidebar {
                width: 180px;
                padding: 0 $base-padding-md 0 0;
            }

            .category-products-wrp, .search-products-wrp {
                padding: 0 0 0 $base-padding-md;
                flex: 1;

                .pagination-bottom {
                    margin-bottom: 40px;

                    .pagination {
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}
