/* Headlines */
$font-size-h1: 18px;
$line-height-h1: 21px;

$font-size-h2: 18px;
$line-height-h2: 21px;

$font-size-h3: 18px;
$line-height-h3: 21px;

$font-size-h4: 16px;
$line-height-h4: 21px;

/* Text */
$font-size-body: 14px;
$line-height-body: 22px;

$font-size-body-small: 13px;
$line-height-body-small: 21px;

$font-size-subtitle: 16px;
$font-size-subtitle-small: 14px;

$font-size-caption: 13px;
$font-size-button: 16px;

/* Common */
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;

p {
  font-size: $font-size-body;
  line-height: $line-height-body;
  font-weight: $font-weight-regular;
}

h1 {
  font-size: $font-size-h1;
  line-height: $line-height-h1;
  font-weight: $font-weight-bold;
}

h2 {
  font-size: $font-size-h2;
  line-height: $line-height-h2;
  font-weight: $font-weight-bold;
}

h3 {
  font-size: $font-size-h3;
  line-height: $line-height-h3;
  font-weight: $font-weight-regular;
}

h4 {
  font-size: $font-size-h4;
  line-height: $line-height-h4;
  font-weight: $font-weight-regular;
}

.headline-1 {
  font-size: $font-size-h1;
  line-height: $line-height-h1;
  font-weight: $font-weight-bold;
}

.headline-2 {
  font-size: $font-size-h2;
  line-height: $line-height-h2;
  font-weight: $font-weight-bold;
}

.headline-3 {
  font-size: $font-size-h3;
  line-height: $line-height-h3;
  font-weight: $font-weight-bold;
}

.headline-4 {
  font-size: $font-size-h4;
  line-height: $line-height-h4;
  font-weight: $font-weight-bold;
}

.text {
  font-size: $font-size-body;
  line-height: $line-height-body;
  font-weight: $font-weight-regular;
}

.text-small {
  font-size: $font-size-body-small;
  line-height: $line-height-body-small;
  font-weight: $font-weight-regular;
}

/* From Tablet */
@media(min-width: 768px) {
  $font-size-h1: 22px;
  $font-size-h2: 21px;

  $font-size-body-small: 14px;
  $line-height-body-small: 22px;

  h1 {
    font-size: $font-size-h1;
    line-height: $line-height-h1;
    font-weight: $font-weight-bold;
  }

  h2 {
    font-size: $font-size-h2;
    line-height: $line-height-h2;
    font-weight: $font-weight-bold;
  }

  .headline-1 {
    font-size: $font-size-h1;
    line-height: $line-height-h1;
    font-weight: $font-weight-bold;
  }

  .headline-2 {
    font-size: $font-size-h2;
    line-height: $line-height-h2;
    font-weight: $font-weight-bold;
  }

  .text-small {
    font-size: $font-size-body-small;
    line-height: $line-height-body-small;
    font-weight: $font-weight-regular;
  }
}

/* From Desktop */
@media(min-width: 1024px) {
  $font-size-h1: 22px;
  $font-size-h2: 21px;

  $line-height-h1: 31px;
  $line-height-h2: 29px;

  $font-size-body: 16px;
  $line-height-body: 26px;

  h1 {
    font-size: $font-size-h1;
    line-height: $line-height-h1;
    font-weight: $font-weight-bold;
  }

  h2 {
    font-size: $font-size-h2;
    line-height: $line-height-h2;
    font-weight: $font-weight-bold;
  }

  .headline-1 {
    font-size: $font-size-h1;
    line-height: $line-height-h1;
    font-weight: $font-weight-bold;
  }

  .headline-2 {
    font-size: $font-size-h2;
    line-height: $line-height-h2;
    font-weight: $font-weight-bold;
  }

  p {
    font-size: $font-size-body;
    line-height: $line-height-body;
    font-weight: $font-weight-regular;
  }

  .text {
    font-size: $font-size-body;
    line-height: $line-height-body;
    font-weight: $font-weight-regular;
  }
}
