.add-to-wishlist-wrp {
    min-width: 48px;
    min-height: 48px;

    button {
        background: $white;
        width: 32px;
        height: 32px;
        min-width: 0;
        min-height: 0;
        margin: 0 auto 10px;
        @include elevation-2;

        &:hover {
            background: $white;
        }

        i {
            font-size: 16px;
        }
    }

    .remove-from-wishlist {
        color: $primary;
    }
}

@media (min-width: 768px) {
    .add-to-wishlist-wrp {
        .add-to-wishlist {
            &:hover {
                i {
                    &:before {
                        content: '\e901';
                    }
                }
            }
        }
    }
}
