.add-to-wishlist-wrp {
    min-width: 48px;
    min-height: 48px;

    .remove-from-wishlist {
        color: $primary;
    }
}


@media(min-width: 768px) {
    .add-to-wishlist-wrp {
        .add-to-wishlist {
            &:hover {
                i {
                    &:before {
                        content: '\e901';
                    }
                }
            }
        }
    }
}
