.amazon-pay {
    .errors {
        color: $error-accent;
        margin-bottom: 20px;
    }
}

.amazon-pay-button-wrp {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
    min-height: 45px;
}

.widget-wrp {
    margin-bottom: 20px;
}

#addressBookWidgetDiv {
    min-width: 300px;
    max-width: 600px;
    min-height: 228px;
    max-height: 400px;
}

#walletWidgetDiv {
    min-width: 300px;
    max-width:600px;
    min-height: 228px;
    max-height: 400px;
}

#addressBookWidgetDiv {
    width: 100%;
    height: 228px;
}

#walletWidgetDiv {
    width: 100%;
    height: 228px;
}

/* Desktop and tablet */
@media only screen and (min-width: 768px) {
    .amazon-pay-button-wrp {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .widget-wrp {
        display: flex;
        justify-content: space-between;
    }

    #addressBookWidgetDiv {
        width: 49.5%;
        height: 270px;
    }

    #walletWidgetDiv {
        width: 49.5%;
        height: 270px;
    }
}
