.autocomplete-list-wrp {
    background: $background;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    .autocomplete-headline {
        padding: 0 30px 0 30px;
        font-weight: bold;
    }

    .autocomplete-element-wrp {
        display: flex;
        flex-direction: column;

        &:hover {
            background: $secondary;
        }
    }

    .autocomplete-element {
        padding: 5px 35px 5px 35px;
    }

    .selected-item {
        background: $secondary;

        &:focus {
            outline: none;
        }
    }
}

// Tablet
@media(min-width: 768px) {
    .autocomplete-list-wrp {
        top: 47px;
        right: 10px;
        width: 500px;
        border: 1px solid $border-color;
    }
}

