.autocomplete-list-wrp {
    background: $background;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    .autocomplete-headline {
        font-weight: bold;
    }

    .autocomplete-element-wrp {
        display: flex;
        flex-direction: column;
    }

    .selected-item {
        &:focus {
            outline: none;
        }
    }
}

// Tablet
@media (min-width: 768px) {
    .autocomplete-list-wrp {
        margin: 0 auto;
        border-bottom: 1px solid $border-color;
        @include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints);
    }
}
