.breadcrumbs {
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    ul {
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-right: 5px;
        }
    }

    .row {
        .breadcrumb-item:first-child {
            .nuxt-link-active {
                font-weight: normal;
            }
        }
    }

    .breadcrumb-item {
        a {
            vertical-align: middle;
        }

        .nuxt-link-active {
            font-weight: normal;
        }
    }

    .breadcrumb-item + .breadcrumb-item {
        padding-left: 0;
    }

    .breadcrumb-item + .breadcrumb-item::before {
        content: ' / ';
        width: 15px;
        display: inline-block;
        margin-right: 5px;
        padding: 0;
        vertical-align: middle;
    }
}

@media (min-width: 768px) {
    .breadcrumbs-wrp {
        padding: 0 20px;
    }

    .breadcrumbs {
        display: block;
    }
}
