$hbl-cart-item-image-size: 60px;
$hbl-cart-item-image-size-md: 100px;

.cart-item {
    border-bottom: 1px solid $border-color;
    padding: 10px 0;

    &:last-child {
        border-bottom: none;
    }

    img {
      margin: auto;
      display: block;
    }

    .actions-wrp {
        margin-bottom: auto;

        .remove-item {
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            text-decoration: underline;
            margin-bottom: 45px;
            cursor: pointer;
        }

        .quantity-selector{
            width: 100%;
            margin-left: auto;

            .hbl-select ,.hbl-input-group{
                width: 75px;
                margin-bottom: 0;

                .hbl-select ,.hbl-input-group{
                    width: 65px;
                    margin-top: 40px;
                    margin-left: auto;

                    input{
                        text-align: center;
                    }

                    .select-label {
                        display: none;
                    }
                }
            }
        }
    }

    .img-minicart {
        max-width: $hbl-cart-item-image-size !important;
        max-height: $hbl-cart-item-image-size !important;
    }

    .product-name {
        @include font-size($text-font-sizes);
        margin-bottom: 10px;
    }

    .selected-variants-wrp {
        padding: 0;
    }

    .selected-variants {
        list-style: none;
        @include font-size($text-font-sizes);
    }

    .product-price, .product-qty, .separator {
        @include font-size($text-font-sizes);
        font-weight: $font-weight-bold;
    }

    .old-price {
        font-weight: 400;
        text-decoration: line-through;

        & + .sale-price {
            color: $error-accent;
            margin-left: 15px;
        }
    }

    &.coupon {
        display: flex;
        justify-content: space-between;
        border-bottom: none;

        .coupon-val {
            min-width: 100px;
            text-align: right;
        }
    }
}

/* Tablet */
@media(min-width: 768px) {
    .cart-item {
        padding: 25px 0;

        &.coupon {
            padding: 15px;
        }
    }
}
