$hbl-cart-item-image-size: 60px;
$hbl-cart-item-image-size-md: 100px;

.cart-item {
    border-bottom: 1px solid $border-color;
    padding: 10px 0;

    &:last-child {
        border-bottom: none;
    }

    img {
      margin: auto;
      display: block;
    }

    .actions-wrp {
        margin-bottom: auto;

        .remove-item {
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            text-decoration: underline;
            margin-bottom: 45px;
            cursor: pointer;
        }

        .quantity-selector{
            width: 100%;
            margin-left: auto;

            .hbl-select ,.hbl-input-group{
                width: 75px;
                margin-bottom: 0;
                
                .hbl-select ,.hbl-input-group{
                    width: 65px;
                    margin-top: 40px;
                    margin-left: auto;

                    input{
                        text-align: center;
                    }

                    .select-label {
                        display: none;
                    }
                }
            }
        }
    }

    .img-minicart {
        max-width: $hbl-cart-item-image-size !important;
        max-height: $hbl-cart-item-image-size !important;
    }

    .product-name {
        @include font-size($text-font-sizes);
        margin-bottom: 10px;
    }

    .selected-variants-wrp {
        padding: 0;
    }

    .selected-variants {
        list-style: none;
        @include font-size($text-font-sizes);
    }

    .product-price, .product-qty, .separator {
        @include font-size($text-font-sizes);
        font-weight: $font-weight-bold;
    }

    .old-price {
        font-weight: 400;
        text-decoration: line-through;

        & + .sale-price {
            color: $error-accent;
            margin-left: 15px;
        }
    }

    &.non-interactive {
        border: 1px solid $border-color;
        padding: 15px;

        > a {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;

            .product-img {
                margin: 0 20px 0 0;
                width: calc(20% - 20px);

            }

            .product-info {
                width: 80%;

                .product-name {
                    display: inline-block;
                    margin-bottom: 15px;
                }
            }

            .price-wrp {
                margin-left: auto;
                width: 100%;
            }
        }
    }

    &.coupon {
        display: flex;
        justify-content: space-between;
        border-bottom: none;

        &.non-interactive {
            border: 1px solid $border-color;
        }

        .coupon-val {
            min-width: 100px;
            text-align: right;
        }
    }
}

/* Tablet */
@media(min-width: 768px) {
    .cart-item {
        padding: 25px 0;

        &.non-interactive {
            > a {
                .product-img {
                    width: inherit;
                    margin-right: 40px;
                    max-width: $hbl-cart-item-image-size-md !important;
                    max-height: $hbl-cart-item-image-size-md !important;
                }

                .product-info {
                    display: flex;
                    justify-content: space-between;
                    flex: 1;

                    .product-name {
                        width: 350px;
                        display: inline-block;
                        margin-bottom: 15px;
                    }
                }

                .price-wrp {
                    margin-left: auto;
                    width: auto;
                }
            }
        }
        &.coupon {
            padding: 15px;
        }
    }
}
