.cart-wrp {
    width: 100%;
    padding: 20px 0;
    display: inline-block;

    .headline {
        margin-bottom: 15px;

        .headline-2 {
            display: inline;
            margin-right: 5px;
        }

        .text {
            color: $dark-gray;
        }
    }

    .summary-wrp {
        .summary-row {
            font-size: 14px;
            padding: 5px 15px;
            display: flex;
            justify-content: space-between;

            &:first-child {
                padding-top: 20px;
            }

            &:last-child {
                padding-bottom: 20px;
            }
        }

        .totals {
            font-size: 16px;
            padding-top: 10px;
            font-weight: $font-weight-bold;
        }

        .voucher {
            margin-left: -15px;
            margin-right: -15px;

            .voucher-content {
                display: flex;

                .hbl-input-group {
                    margin: 0;
                    flex: 1;

                    input {
                        background: $background;
                    }
                }

                button {
                    width: 130px;
                }
            }
        }

        > button, > a {
            margin-left: 0;
            display: block;
            margin-right: 0;
        }
    }

    .actions-wrp {
        button {
            margin: 10px 0 0;
        }
    }
}

.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    width: 100%;

    &.cart-wrp {
        padding: 60px;
        margin: 20px 0;
        border: 1px solid $border-color;
    }

    i {
        width: 130px;
        height: 130px;
        line-height: 130px;
        text-align: center;
        color: $border-color;
        font-size: 45px;
        margin-bottom: 20px;
        border: 3px dotted $border-color;
        border-radius: 150px;
    }

    .text {
        font-size: 16px;
        margin-bottom: 40px;
        text-align: center;
    }
}

/* Tablet */
@media(min-width: 768px) {
    .cart-wrp {
        display: block;
        max-width: 560px;
        margin: 0 auto;
        padding: 40px 0;

        .headline {
            margin: 5px 0 20px;
        }

        .item {
            margin: 0 0 10px;
            border: 1px solid $border-color;
        }

        .summary-wrp {
            background-color: $background-light;
            padding: 0 40px;

            .voucher {
                .voucher-content {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    padding: 15px;

                    .coupons-wrp {
                        width: 100%;
                        padding: 0;
                        margin: 0;
                    }

                    .coupon-title {
                        font-size: 16px;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .cart-items-list.item .img-minicart {
            max-width: 100px !important;
            max-height: 100px !important;
        }

        .empty-cart {
            padding: 60px;
        }
    }
}

/* Desktop */
@media(min-width: 1024px) {
    .cart-wrp {
        display: inline-block;
        max-width: none;
        margin: 0;

        .items-wrp {
            max-width: 880px;
            width: 50%;
            float: left;
        }

        .summary-wrp {
            max-width: 540px;
            width: 45%;
            float: right;
            padding: 0 20px;
            margin-top: 30px;
        }

        > .actions-wrp {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .empty-cart {
            padding: 80px;
        }
    }
}
