.checkout-error {
    .checkout-error-wrp {
        .error-msg-wrp {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin: 10px 0 20px;
            padding: 20px;
            border: 1px solid rgba(208, 2, 27, 1);
            background: rgba(159, 1, 12, .1);

            i {
                width: 45px;
                height: 45px;
                line-height: 42px;
                margin-bottom: 20px;
                font-size: 30px;
                color: $error-accent;
                border: 3px solid $error-accent;
                border-radius: 70px;
                text-align: center;
            }

            .message {
                color: $error-accent;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .error-info {
            margin-bottom: 20px;
        }

        button {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}

/* Tablet */
@media (min-width: 768px) {
    .checkout-error {
        .checkout-error-wrp {
            .error-msg-wrp {
                .message {
                    font-size: 22px;
                    line-height: 27px;
                }
            }
            button {
                width: auto;
            }
        }
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .checkout-error {
        max-width: 1080px;
    }
}
