.checkout-summary-wrp {
    > .headline {
        text-transform: uppercase;
        margin: 10px 0 20px;
    }

    .terms-and-conditions {
        margin-bottom: 20px;

        a {
            text-decoration: underline;
            font-weight: $font-weight-bold;
            @include font-size($text-font-sizes);
        }
    }

    .edit-data-info {
        margin-bottom: 20px;
    }

    .chosen-payment-method-wrp, .chosen-shipping-method-wrp {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $border-color;

        .headline {
            margin-bottom: 10px;
        }

        .method {
            margin-bottom: 20px;
        }

        a {
            text-decoration: underline;
            font-weight: $font-weight-bold;
            @include font-size($text-font-sizes);
        }
    }

    .cart-items-list {
        margin-bottom: 20px;
    }

    .order-info-wrp {
        padding: 10px 15px;
        margin-bottom: 10px;
        border: 1px solid $text-primary;
        color: $text-light;

        p {
            margin-bottom: 10px;
        }
    }

    .summary-container {
        margin-bottom: 10px;
        width: 100%;

        .summary-wrp {
            border: 1px solid $border-color;
            padding: 10px 15px;
            background-color: $background-light;

            .summary-row {
                display: flex;
                justify-content: space-between;

                &.sub-totals {
                    margin-bottom: 15px;
                }

                &.shipping-costs {
                    border-bottom: 1px solid $border-color;
                    padding-bottom: 15px;
                }

                &.totals {
                    border-bottom: 1px solid $border-color;
                    padding: 15px 0;
                    margin-bottom: 15px;
                    font-weight: $font-weight-bold;
                }
            }
        }

        .checkout-btn {
            margin: 0;
            background-color: $accent;
            border: 2px solid $accent;

            &:disabled,
            &[disabled] {
                color: $button-primary-background-color !important;
                background-color: $border-color !important;
                border: 2px solid $border-color !important;

                &:hover {
                    box-shadow: none !important;
                    border: 2px solid $border-color !important;
                    cursor: not-allowed;
                }
            }

            .loader {
                height: 18px;

                > div {
                    top: 7px;
                }
            }
        }
    }

    .errors {
        color: $error-accent;
        margin-bottom: 20px;
    }
}

/* Tablet */
@media(min-width: 768px) {
    .checkout-summary {

        .checkout-summary-wrp {
            .edit-data-info {
                margin-bottom: 30px;
            }

            .customer-addresses-wrp {
                margin-bottom: 30px;
            }

            .chosen-methods-wrp {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                .chosen-payment-method-wrp {
                    width: 50%;
                    padding-right: 15px;
                    margin-bottom: 0;
                }

                .chosen-shipping-method-wrp {
                    width: 50%;
                    padding-left: 15px;
                    margin-bottom: 30px;
                }
            }

            .order-info-wrp {
                margin-bottom: 20px;
                padding: 30px;

                p {
                    margin-bottom: 20px;
                }
            }

            .summary-container {
                margin-bottom: 20px;
                max-width: 540px;
                width: 45%;
                margin-left: auto;

                .summary-wrp {
                    padding: 40px;
                }
            }
        }
    }
}

/* Desktop */
@media(min-width: 1024px) {
    .checkout-summary {
        max-width: 1080px;
    }
}
