.checkout-login {
    padding: 0;

    .tabs-component .tabs-component-panels {
        max-height: none;

        .tabs-component-panel {
            padding: 0;
        }
    }

    .headline {
        margin-bottom: 15px;
    }

    a {
        text-decoration: underline;
    }
}

.checkout-login-wrp {
    width: 100%;
    margin-bottom: 20px;

    button {
        width: 100%;
    }

    .pw-reset {
        text-decoration: underline;
        text-align: left;
        margin: 0;
        margin-bottom: 13px;
        text-transform: none;
        font-size: 14px;
        cursor: pointer;
    }
}

.guest-login-wrp {
    width: 100%;
    margin-bottom: 20px;

    button {
        width: 100%;
    }
}

.checkout-register-wrp {
    width: 100%;
    margin-bottom: 20px;

    button {
        width: 100%;
    }

    a {
        text-decoration: underline;
    }
}

.base-data-wrp {
    margin-bottom: 20px;
}

.billing-addresses-wrp {
    margin-bottom: 20px;
}

.shipping-addresses-wrp {
    margin-bottom: 20px;
}

.key-info {
    margin-top: 20px;
    color: $text-light;
    margin-bottom: 40px;
}

.packstation-info {
    margin-bottom: 20px;
}

/* Tablet */
@media(min-width: 768px) {
    .checkout-login {
        padding: 0 15px;
    }
}

/* Desktop */
@media(min-width: 1024px) {
    .checkout-login {
        max-width: 1080px;
    }

    .customer-login {
        padding: 60px 0;
        margin-bottom: 120px;
    }

    .login-desktop-wrp {
      display: flex;
      justify-content: space-between;

      > div {
        width: 45%;
      }
    }

    .checkout-login-desktop-wrp {
        .back-button {
          margin-bottom: 20px;
        }
    }
}
