.customer-account-cpt-wrp {
    .link-wrp {
        display: flex;
        flex-direction: column;
        justify-content: center;

        button {
            width: 100%;
            margin: 0 0 10px;
        }
    }

    .collapse-wrp {
        > button {
            color: $text-primary;
        }
    }

    .content-wrp {
        position: relative;
        flex-direction: column;
        padding: 15px;

        .headline {
            font-size: 16px;
            font-weight: 600;
            line-height: 27px;
            margin: 15px 0;
        }
        .subline {
            font-size: 14px;
            line-height: 21px;
            margin: 15px 0;
        }
        .pw-reset {
            font-size: 14px;
            text-decoration: underline;
            font-weight: 600;
            line-height: 17px;
            margin: 10px 0 20px;
            cursor: pointer;
        }
        button {
            width: 100%;
            margin-bottom: 15px;
        }
        a {
            display: flex;

            button {
                width: 100%;
            }
        }
    }
}

/* Tablet */
@media(min-width: 768px) {
    .customer-account-cpt-wrp {
        position: relative;
        background: transparent;
        margin: 0;

        > button {
            font-size: 20px;
        }

        .customer-account-wrp {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #fff;
            flex-wrap: wrap;

            position: absolute;
            width: 300px;
            height: auto;
            z-index: 100;
            right: 0;
            left: unset;
            top: 100%;
            box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.3);
            padding: 15px;

            button {
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .link-wrp {
                margin: 0;
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 7px;

                button {
                    margin: 0 0 5px !important;
                }
            }
        }
    }
}

/* Desktop */
@media(min-width: 1024px) {
    .customer-account-cpt-wrp {
        .content-wrp {
            padding: 15px 40px;

            .subline {
                margin: 0 0 15px;
            }
        }

        .button-icon {
            &.active {
                color: $accent;
                border-radius: 0;
                overflow: visible;

                &:before {
                    content: '';
                    width: 100%;
                    height: 2px;
                    background: $accent;
                    position: absolute;
                    bottom: -23px;
                    left: 0;
                    border-radius: 0;
                }
            }
        }
    }
}
