/* Layout */
.mobile-layout {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display: block;
    padding-bottom: 60px;

    &.hubble-light {
        padding-bottom: 125px;

        .nav-wrp {
            button {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }

        .footer {
            padding: 0;
            position: absolute;
            bottom: 0;
            width: 100%;

            .copyright, .footer-hint {
                text-align: center;
                margin-bottom: 20px;
            }
        }
    }
}

.desktop-layout {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 375px;
}

.header-wrp {
    position: relative;
    opacity: 1;
    min-height: 56px;
    background: $background;
    z-index: 60;
}

/* Navigation */
.nav-wrp {
    height: $header-height-mobile;
    width: 100%;
    background-color: $background;
    border-bottom: 1px solid $border-color;
    position: relative;

    display: flex;
    align-items: center;

    .header-action-icon{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 70;
        width: 100%;
    }

    .button-icon {
        font-size: 20px;
        padding: 8px;
    }

    .customer-account-wrp {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 1;
        max-width: none;
    }

    .action-wrp {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 100;

        display: flex;
        justify-content: space-around;

        padding: 10px;
        background: $white;

        @include elevation-12;
    }
}

// Layout transitions
.layout-enter-active, .layout-leave-active {
    transition: opacity .1s;
}

.layout-enter, .layout-leave-active {
    opacity: 0;
}

.cookie-notice {
    z-index: 100001;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}


/* Tablet */
@media(min-width: 768px) {
    .mobile-layout {
        padding-bottom: 0;

        &.hubble-light {
            padding-bottom: 160px;

            .logo-wrp {
                width: inherit;
            }

            .nav-wrp {
                justify-content: space-between;

                button {
                    display: none;
                }

                .action-wrp {
                    width: auto;
                    margin-left: auto;

                    button {
                        position: relative;
                    }
                }
            }
        }
    }

    .desktop-layout {
        padding-bottom: 445px;

        &.hubble-light {
            .logo-wrp {
                width: inherit;
            }

            main {
                padding-top: $header-height-desktop;
            }
        }

        .main-container {
            margin-bottom: 15px;
        }
    }

    .header-wrp {
        position: fixed;
        margin: 0 auto;
        width: 100vw;
        z-index: 100;

        @include elevation-6();
    }

    .nav-wrp {
        @include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints);
        height: $header-height-desktop;

        .action-wrp {
            position: relative;
            padding: 0;
            @include elevation-0;
        }
    }

    .cookie-notice {
        bottom: 5%;
    }
}

@media(min-width: 992px) {
    .desktop-layout {
        padding-bottom: 705px;

        &.hubble-light {
            padding-bottom: 125px;

            .nav-wrp {
                justify-content: space-between;

                .action-wrp {
                    width: auto;
                }
            }
        }
    }
}

/* Desktop */
@media(min-width: 1024px) {
    .mobile-layout {
        padding-bottom: 495px;
    }
    .nav-wrp {
        border: none;

        &:before {
            content: '';
            background: $background;
            width: 100vw;
            height: 100%;
            margin-left: calc(-50vw + 50%);
            position: absolute;
            left: 0;
            top: 0;
        }

        .action-wrp {
            .menu-cpt-wrapper {
                display: none;
            }

            .wishlist-cpt-wrp {
                margin: 0 5px 0 10px;
            }

            .customer-account-cpt-wrp {
                margin: 0 5px;
            }

            .minicart-cpt-wrp {
                margin: 0 0 0 5px;
            }
        }
    }
}
