/* Layout */
.mobile-layout {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display: block;
    padding-bottom: 60px;

    &.hubble-light {
        padding-bottom: 175px;

        .nav-wrp {
            border: none;
        }

        .footer {
            padding: 0;
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
}

.desktop-layout {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 375px;
}

.header-wrp {
    position: relative;
    opacity: 1;
    min-height: 56px;
    background: $background;
    z-index: 60;
}

/* Navigation */
.nav-wrp {
    height: 65px;
    width: 100%;
    background-color: $background;
    border-bottom: 1px solid $border-color;
    position: relative;

    display: flex;
    align-items: center;

    .button-icon {
        font-size: 20px;
        padding: 8px;
    }

    .customer-account-wrp {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 1;
        max-width: none;
    }

    .action-wrp {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;

        display: flex;
        justify-content: space-around;

        background: #fff;
        padding: 10px;
    }
}

// Layout transitions
.layout-enter-active, .layout-leave-active {
    transition: opacity .1s;
}
.layout-enter, .layout-leave-active {
    opacity: 0;
}

.cookie-notice {
    z-index: 100001;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}


/* Tablet */
@media(min-width: 768px) {
    .mobile-layout {
        //padding-bottom: 495px;

        &.hubble-light {
            padding-bottom: 160px;
        }
    }

    .desktop-layout {
        padding-bottom: 445px;

        .main-container {
            margin-bottom: 15px;
        }
    }

    .header-wrp {
        position: fixed;
        margin: 0 auto;
        width: 100%;
        z-index: 100;
    }

    .nav-wrp {
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        justify-content: flex-start;
        position: relative;
        @include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints);
        align-items: center;
        border: none;
        height: $header-height-desktop;

        .action-wrp{
            padding: 0 0 0 0;
        }

        .button-icon {
            margin-left: 10px;

            &:first-child {
                margin-left: 0;
            }
        }
    }


  .cookie-notice {
      bottom: 5%;
  }
}

@media(min-width: 992px) {
    .desktop-layout {
        padding-bottom: 818px;

        &.hubble-light {
            padding-bottom: 125px;
        }
    }
}

/* Desktop */
@media(min-width: 1024px) {
    .mobile-layout {
        padding-bottom: 495px;
    }
    .nav-wrp {
        &:before {
          content: '';
          background: $background;
          width: 100vw;
          height: 100%;
          margin-left: calc(-50vw + 50%);
          position: absolute;
          left: 0;
          top: 0;
        }

        .action-wrp {
            .wishlist-cpt-wrp {
                margin: 0 5px 0 15px;
            }
            .minicart-cpt-wrp {
                margin: 0 0 0 5px;
            }
        }
    }
}

@media(min-width: 1090px) {
    .desktop-layout {
        padding-bottom: 818px;
    }
}

@media(min-width: 1120px) {
    .desktop-layout {
        padding-bottom: 660px;
    }
}

@media(min-width: 1200px) {
    .mobile-layout {
        padding-bottom: 495px;
    }
    .desktop-layout {
        padding-bottom: 660px;
    }
}

@media(min-width: 1235px) {
    .desktop-layout {
        padding-bottom: 500px;
    }
}
