.index-container {
    .top-image-wrp {
        position: relative;

        .logo-class {
            width: 100%;
            z-index: 1;
        }

        .top-image-description {
            background-color: white;
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: 2;
            @include font-size($small-text-font-sizes);
            display: none;

            .description-headline {
                text-transform: uppercase;
                margin-bottom: 5px;
            }
        }
    }

    .top-image-wrp,
    .teaser-slider-wrp,
    .brand-slider-wrp,
    .sale-banner-wrp,
    .new-products-wrp,
    .index-text-wrp {
        margin-bottom: 30px;
    }

    .brand-slider-wrp {
        img {
            display: block;
            margin: auto;
            width: auto;
            max-width: 100%;
        }
    }

    .sale-banner {
        width: 100%;
    }

    .brand-slider-wrp,
    .new-products-wrp {
        .tns-outer {
            padding-left: 35px !important;
            padding-right: 35px !important;
        }
    }

    .new-products-wrp {
        .new-products-header {
            position: relative;

            .new-products-headline {
                text-transform: uppercase;
            }

            .discover-link {
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        .listing-wrp {
            .slider-item {
                height: auto;
            }
        }
    }

    .tns-outer {
        width: 100%;

        .tns-controls {
            button {
                z-index: 5;

                i {
                    font-size: 30px;
                }
            }
            button:first-child {
                left: 0;
            }

            button:last-child {
                right: 0;
            }
        }

        .product-card {
            position: relative;
            padding: 10px;

            &:hover {
                .card-expand {
                    display: none;
                }
            }
        }
    }

    li.tns-item {
        text-align: center;
    }

    .index-text-wrp {
        margin-top: 30px;

        .text {
            margin-top: 20px;
        }
    }

    .active-link {
        font-weight: $font-weight-bold;
        color: $accent;
    }

    .discover-link {
        text-decoration: underline;
        color: black;
    }
}

// Tablet
@media (min-width: 768px) {
    .index-container {
        .teaser-slider-wrp {
            min-height: 400px;
        }

        .top-image-wrp,
        .teaser-slider-wrp,
        .brand-slider-wrp,
        .sale-banner-wrp,
        .new-products-wrp,
        .index-text-wrp {
            margin-bottom: 60px;
        }
    }
}

// Desktop
@media (min-width: 1024px) {
    .index-container {
        .top-image-wrp,
        .teaser-slider-wrp,
        .brand-slider-wrp,
        .sale-banner-wrp,
        .new-products-wrp,
        .index-text-wrp {
            margin-bottom: 60px;
        }

        .top-image-wrp {
            .top-image-description {
                display: block;
                width: 360px;
                margin-left: -180px;
                padding: 20px;

                .description-headline {
                    margin-bottom: 10px;
                }
            }
        }

        .teaser-side {
            vertical-align: bottom !important;
        }

        .teaser-middle {
            padding-bottom: 60px;
        }
    }
}
