.manufacturers {
    margin-top: 20px;

    .headline-1 {
        margin-bottom: 20px;
    }

    > .text {
        margin-bottom: 20px;
    }

    .lexicon-wrp {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -10px;
        margin-right: -10px;

        .char-wrp {
            display: flex;
            width: 100%;
            margin-bottom: 20px;
            padding: 10px;

            .char {
                font-size: 50px;
                width: 50px;
                line-height: 50px;
                text-transform: uppercase;
                margin-right: 10px;
            }

            .manufacturers-wrp {
                flex: 1;

                .manufacturer {
                    float: left;
                    clear: both;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .manufacturers {
        .lexicon-wrp {
            .char-wrp {
                width: 50%;
            }
        }
    }
}

@media (min-width: 1024px) {
    .manufacturers {
        .lexicon-wrp {
            .char-wrp {
                width: 25%;
            }
        }
    }
}
