.menu-wrapper {
    > .container {
        > .tree-wrp {
            > .tree-menu {
                > .sub-categories {
                    position: absolute;
                    top: 0;
                }
            }
        }
    }
}

.tree-menu {
    position: relative;
    width: 100%;
    margin-left: 0;
}

.trigger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    font-size: 16px;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    letter-spacing: .4px;
    padding: 16px 16px;
    border-bottom: 1px solid $border-color;

    .icon-chevron-right {
        margin-right: 3px;
        font-size: 23px;
    }
}

.sub-categories {
    position: fixed;
    width: 100%;
    height: calc(100vh - 56px);
    top: 56px;
    z-index: 6;
    overflow-y: scroll;
    background-color: $background;

    .parent-link {
        color: white;
        height: 54px;
    }

    .back-tigger {
        background: #fff;

        i {
            vertical-align: middle;
        }
    }
}

.sub-categories:before {
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.back-tigger {
    position: fixed;
    top: 9px;
    left: 5px;
    z-index: 1;

    .button-icon {
        font-size: 25px;
    }
}

.slide-in-enter-active, .slide-in-leave-active {
    transition: all .2s ease;
}

.slide-in-enter {
    left: 100%;
}

.slide-in-enter-to {
    left: 0;
}

.slide-in-leave {
    left: 0;
}

.slide-in-leave-to {
    left: 100%;
}

@media(min-width: 768px) {

    .tree-menu {
        .back-tigger {
            top: 20px;
        }
    }

    .menu-wrapper {
        > .container {
            > .tree-wrp {
                > .tree-menu {
                    height: calc(100vh - 81px);

                    > .sub-categories {
                        position: absolute;
                        top: 0;
                        width: 100%;
                    }
                }
            }
        }
    }

    .sub-categories {
        position: absolute;
        top: 0;
        width: 100%;
        height: calc(100vh - 81px);
    }

}

@media(min-width: 1024px) {
    .tree-wrp {

        /* First Level Menu */
        >.tree-menu {
            >.sub-categories {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                position: relative;
                height: auto;
                top: 0;
                margin-left: auto;
                width: 100%;
                background-color: #fff;

                box-shadow: none;
                border: none;

                >.tree-menu {
                    width: auto;
                    flex: 1;
                    // min-width: 150px;

                    >.trigger {
                        border: none;
                        text-transform: uppercase;
                        background-color: #fff !important;
                        padding: 12px !important;
                        justify-content: center !important;
                    }
                }
            }
        }
    }

    .tree-menu {
        display: flex;
        flex-direction: column;
        height: auto;
        opacity: 1;
        width: auto;
    }

    .trigger {
        padding: 12px !important;
        font-size: 16px;
        color: $accent !important;
        font-weight: $font-weight-medium;
        text-transform: none;

        &:hover {
            text-decoration: none !important;
            color: $primary !important;
        }
    }

    .sub-categories {
        width: 100%;
        height: auto;
        max-height: 500px;

        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;

        top: 45px;
        left: 0;

        background-color: #f5f5f5;
        border: 1px solid $border-color;
        box-shadow: 1px 6px 17px -5px rgba(0,0,0,0.38);

        &:before {
            display: none;
        }

        >.tree-menu {
            width: auto;
            flex: 1;
            flex-wrap: wrap;
            // min-width: 250px;

            >.trigger {
                background-color: #f5f5f5 !important;
                padding: 20px 12px !important;
                transition: all 0.2s ease-in-out;
                justify-content: center;

                &:hover {
                    background-color: #fff !important;
                }
            }
        }
    }

    .sub-sub-category {
        display: none;
        position: relative;
        flex-direction: column;
        top: 0;
        border: none;
        padding-left: 30px;

        .trigger {
            padding: 0 !important;
            font-size: 12px !important;
        }
    }

    .slide-in-enter, .slide-in-leave-to {
        margin-left: 0;
        opacity: 0;
    }

    .slide-in-enter-to, .slide-in-leave {
        margin-left: 0;
        opacity: 1;
    }
}
