.newsletter-wrp {
    padding-bottom: 20px;

    .newsletter-headline {
        text-transform: uppercase;
        border-bottom: 1px solid $border-color;
        text-align: center;
        margin-bottom: 10px;

        .newsletter-title {
            margin: 10px 0;
        }
    }

    .newsletter-box {
        background-color: #fff;

        .newsletter-info {
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: justify;
        }

        .newsletter-input {
            border-top: 1px solid $border-color;
            padding-top: 20px;

            .input-title {
                text-transform: uppercase;
                margin-bottom: 10px;
            }

            .hbl-input-group {
                input {
                    background: $background;
                }
            }

            .newsletter-button {
                width: 100%;
            }
        }
    }
    #mc_embed_signup {
        form {
            padding: 0;

            input::placeholder {
                text-align: center;
                font-size: 12px;
            }

            .datefield {
                display: flex;
                align-items: center;

                .subfield {
                    margin: 0 5px;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }

        .indicates-required {
            border-top: 1px solid $border-color;

            .text {
                padding-top: 10px;
            }
        }

        .subscribe-wrp {
            margin: 20px 0;
        }

        .newsletter-button {
            width: 100%;
        }
    }
}

@media (min-width: 768px) {
    .newsletter-wrp {
        .newsletter-headline {
            text-align: left;

            .newsletter-title {
                margin-top: 0;
            }
        }

        .newsletter-box {
            h2 {
                margin: 25px 0;
            }

            .newsletter-info {
                margin-bottom: 35px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .newsletter-wrp {
        .newsletter-box {
            width: 80%;
            margin: 0 auto;
        }

        form {
            width: 50%;
        }
    }
}

@media (min-width: 1260px) {
    .newsletter-wrp {
        .newsletter-box {
            width: 70%;
            margin: 0 auto;
        }
    }
}
