.offcanvas-filter-wrp {
    color: $darkest-gray;
    font-weight: $font-weight-bold;

    .sort-tab {
        .sort-wrp {
            width: 100%;
            padding: 0 20px;

            .hbl-select {
                margin-bottom: 20px;
            }
        }
    }

    .overlay-headline {
        text-transform: uppercase;
    }

    .tabs-component {
        width: 100vw;
        .tabs-component-panels {
            width: 100%;
            padding: 0;
            max-height: calc(100vh - 184px);
            height: calc(100vh - 184px);

            .tabs-component-panel {
                padding-top: 20px;
            }
        }
    }

    .filter-tabs {
        margin-left: -15px;
        margin-right: -15px;

        .facet-title {
            font-weight: $font-weight-bold;
            background: $light-gray;
            padding: 10px 20px;
            width: 100vw;
        }

        .selected-filters-wrp {
            flex-direction: column;
            align-items: flex-start;
            padding: 20px;
            background: $light-gray;

            .selected-label {
                font-weight: $font-weight-bold;
                font-size: 16px;
                line-height: 19px;
            }

            .filter {
                button {
                    font-weight: $font-weight-bold;
                    border-radius: 0;
                    padding: 8px;
                    margin-bottom: 5px;
                    margin-right: 5px;
                    background-color: $white;
                    border: 0;
                    box-shadow: 0 2px 2px 0 rgba(62, 62, 77, 0.1), 0 3px 1px -2px rgba(62, 62, 77, 0.07),
                        0 1px 5px 0 rgba(62, 62, 77, 0.15);

                    &:before {
                        font-family: 'icons';
                        content: '\ea23';
                        margin-right: 5px;
                        font-size: 14px;
                        vertical-align: middle;
                        line-height: 15px;
                    }

                    &:after {
                        display: none;
                    }
                }
            }

            .reset-label {
                display: none;
            }

            .reset-button {
                margin-top: 15px;
                display: block;
            }
        }

        .facets-wrp .facet-wrp .toggle {
            background-color: $white;
            border: none;
        }

        .facets-wrp {
            padding-bottom: 0;
            .collapse-wrp {
                margin: 10px 20px;
                width: auto;
            }
        }
    }
}

@media (min-width: 768px) {
    .offcanvas-filter-wrp {
        .tabs-component {
            width: auto;

            .tabs-component-tabs {
                width: auto;
                .tabs-component-tab {
                    width: 50%;
                }
            }
        }
    }
}
