.order-comment-wrp {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;

    .comment-title {
        width: 100%;
        margin-bottom: 15px;
    }

    .subline {
        width: 100%;
        margin-bottom: 10px;
    }

    .hbl-input-group {
        margin: 0;
        flex: 1;

        textarea {
            height: 120px;
        }
    }
}

/* Tablet */
@media (min-width: 768px) {
    .order-comment-wrp {
        width: 45%;
        padding-left: 10px;
        margin-bottom: 30px;
    }
}
