$slider-background-color: $gray;
$slider-active-color: $primary;
$slider-handle-color: $primary;

.price-slider {
    display: block;
    position: relative;

    .action-bar {
        padding: 0;
        margin-bottom: 10px;
        border-bottom: none;
        justify-content: flex-end;
        font-size: 18px;
        font-weight: $font-weight-regular;
    }

    .price-text {
        margin: 0 15%;
        display: flex;
        justify-content: space-evenly;
        font-weight: $font-weight-bold;

        .price.text-left {
            float: left;
        }
        .price.text-right {
            float: right;
        }
    }
}

.vue-slider-component {
    margin: 10px 5px 30px 5px;

    .vue-slider {
        background-color: $slider-background-color !important;
    }

    .vue-slider-dot {
        width: 24px !important;
        height: 24px !important;
        top: -10px !important;
        left: -5px !important;

        .vue-slider-dot-handle {
            background-color: $slider-handle-color !important;
            box-shadow: none !important;
        }
    }

    .vue-slider-process {
        background-color: $slider-active-color !important;
    }
}

@media (min-width: 1024px) {
    .price-slider {
        .vue-slider-component {
            margin-bottom: 10px;
        }

        .action-bar {
            font-size: 14px;
        }
    }
}
