.product-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: $background;
  transition: all .2s ease-in;
  border: 1px solid transparent;
  cursor: pointer;

  .card-media {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;

    .img-listing {
      max-width: 150px;
      max-height: 150px;
      width: 100%;
    }

    img {
      display: block;
      margin: auto;
      max-width: 100%;
    }
  }

  .actions {
    position: absolute;
    right: 10px;
    top: 10px;

    display: flex;
    align-items: center;
  }

  .add-to-wishlist-wrp {
      margin-left: 1px;
  }

  .product-card-info-wrp {
    text-align: center;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .price-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .old-price {
      width: 100%;
      font-size: 12px;
      line-height: 15px;
      font-weight: $font-weight-regular;
      text-decoration: line-through;
    }

    .sale-price {
      color: $error-accent;
    }

    .unit-price-wrp {
      @include font-size($text-font-sizes);
      color: $text-light;
    }
  }

  .card-expand {
    display: none;
    position: absolute;
    top: 98%;
    left: 0;
    right: 0;
    margin: auto;
    width: calc(100% - 10px);
    padding: 10px 15px 30px;
    z-index: 0;
    background: $background;
    box-shadow: 0 10px 10px 0 rgba(41, 40, 47, 0.1);
    border: 1px solid $border-color;
    border-top: 0;

    opacity: 0;

    transition: opacity .2s ease-out;
  }

  .manufacturer {
    @include font-size($text-font-sizes);
    font-weight: $font-weight-bold;
    margin-bottom: 5px;
  }

  .product-name {
    line-height: 16px;
    margin-bottom: 15px;
  }

  .product-price {
    @include font-size($text-font-sizes);
    font-weight: $font-weight-bold;
    color: $text-primary;
    margin-bottom: 10px;
    margin-top: auto;
  }
}

@media(min-width: 768px) {
  .product-card {
    .card-media {
      margin-bottom: 10px;
    }
    .price-box {
      display: block;
      line-height: inherit;

      .old-price {
        width: auto;
        margin-right: 10px;
        vertical-align: middle;
      }

      .sale-price {
        vertical-align: middle;
      }
    }
    .manufacturer {
      font-size: 16px;
      font-weight: $font-weight-bold;
      margin-bottom: 5px;
    }
  }
}

@media(min-width: 1024px) {
  .product-card {
    &:hover {
      box-shadow: 0 4px 10px 0 rgba(41, 40, 47, 0.1);
      border: 1px solid $border-color;

      .card-expand {
        display: block;
        opacity: 1;
        top: 98%;
        z-index: 1;
      }
    }
  }
}

@media(min-width: 1200px) {
  .product-card {
    .card-media {
      .img-listing {
        max-width: 200px;
        max-height: 200px;
      }
    }
  }
}

@media(min-width: 1600px) {
  .product-card {
    .card-media {
      min-height: 230px;
      .img-listing {
        max-width: 250px;
        max-height: 200px;
      }
    }
  }
}
