/* Add to Cart button */
.add-to-cart {

    .loader {
        height: 50px;

        div {
            background-color: #fff;
            top: 20px;
        }
    }
}

.sku {
    @include font-size($text-font-sizes);
    margin-bottom: 0;
}

//------ Tablet --------
@media(min-width: 768px) {
    
    .price-wrp {
        width: 100%;

        .info {
            font-size: 12px;
        }
    }
}
