.product-listing-header-actions-wrp {
    .back-btn-wrp {
        position: absolute;
        top: ($header-height-mobile - $button-icon-height) / 2;
        left: 10px;
    }

    .offcanvas-filter-wrp {
        position: absolute;
        top: ($header-height-mobile - $button-icon-height) / 2;
        right: 10px;
    }
}
