$hbl-detail-gallery-slider-height: 380px;
$hbl-detail-gallery-slider-height-desktop: 650px;
$hbl-detail-gallery-image-height: 550px;

.product-detail-gallery-wrp {
    position: relative;
    width: 100%;

    .gallery-slider-wrp {
        .gallery-item {
            max-height: $hbl-detail-gallery-slider-height;

            img {
                width: 100%;
            }
        }

        .tns-outer {
            width: 100%;
        }

        .tns-controls {
            button {
                z-index: 10;
            }

            button:first-child {
                left: 0;
            }

            button:last-child {
                right: 0;
            }
        }

        .tns-nav {
            display: flex;
            justify-content: center;
            bottom: 20px;
            width: 100%;
        }
    }

    .gallery-scroll-wrp {
        position: relative;
        width: 100%;
        height: 760px;
        overflow-y: scroll;

        .gallery-item {
            text-align: center;
            padding: 50px;

            img {
                max-width: 100%;
                max-height: $hbl-detail-gallery-image-height;
            }

            &:last-child {
                img {
                    margin-bottom: 0;
                }
            }
        }
    }

    .v--modal-overlay .v--modal-box {
        top: 0 !important;
        left: 0 !important;
        width: 100vw !important;
        height: 100vh !important;
        display: flex;
        align-items: center;
        justify-content: center;

        .button-icon.close {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 10;
        }

        .gallery-modal-wrp {
            .gallery-modal-item {
                max-height: 100%;

                img {
                    width: 100%;
                }
            }

            .tns-outer {
                width: 100%;
            }

            .tns-controls {
                button {
                    z-index: 10;
                }

                button:first-child {
                    left: 0;
                }

                button:last-child {
                    right: 0;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .product-detail-gallery-wrp {
        .gallery-slider-wrp {
            max-width: 600px;
            margin: 0 auto;

            .gallery-item {
                max-height: $hbl-detail-gallery-slider-height-desktop;
            }
        }
    }
}
