$btn-icon-width: 36px;
$btn-icon-height: 36px;
$btn-background-color: $light-gray;

.quantity-selector {

    .qty-wrp{
        display: flex;
        height: 100%;
        
        .quantity{
            max-width: 45px;
            border: 1px solid #E7E8E9;
            border-right: none;
            text-align: center;
        }

        .btn-wrp{
            .qty-button{
                color: $dark-gray;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: transparent;
                height: $btn-icon-height;
                width: $btn-icon-width;
                border: 1px solid #E7E8E9;
                border-radius: unset;

                &:active{
                    background: $btn-background-color;
                }
            }
        }
    }
}

