$hbl-search-trigger-background: $light-gray;

$hbl-search-trigger-tablet-width: 300px;
$hbl-search-trigger-tablet-background: $white;

.search-trigger-wrp {
    position: relative;
    width: 100%;
    background: $light-gray;
    padding: 15px;
    border-bottom: 1px solid $border-color;

    .hbl-input-group {
        margin: 0;
    }
}

/* Tablet */
@media (min-width: 768px) {
    .search-trigger-wrp {
        width: $hbl-search-trigger-tablet-width;
        max-height: $header-height-desktop - 1px;
        margin-left: auto;
        border: none;
        background: $hbl-search-trigger-tablet-background;
    }
}
