/*
<div class="hbl-switch">
    <input type="checkbox" id="hbl-switch" name="set-name" class="hbl-switch-input">
    <label for="hbl-switch" class="hbl-switch-label">
        <span class="toggle--on">On</span>
        <span class="toggle--off">Off</span>
    </label>
</div>
*/

.hbl-switch-input {
    display: none;
}
.hbl-switch-label {
    position: relative;
    display: inline-block;
    min-width: 112px;
    cursor: pointer;
    font-weight: 500;
    text-align: left;
    margin: 16px;
    padding: 16px 0 16px 44px;
}
.hbl-switch-label:before,
.hbl-switch-label:after {
    content: '';
    position: absolute;
    margin: 0;
    outline: 0;
    top: 50%;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.hbl-switch-label:before {
    left: 1px;
    width: 34px;
    height: 14px;
    background-color: #9e9e9e;
    border-radius: 8px;
}
.hbl-switch-label:after {
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #fafafa;
    border-radius: 50%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.hbl-switch-label .toggle--on {
    display: none;
}
.hbl-switch-label .toggle--off {
    display: inline-block;
}
.hbl-switch-input:checked + .hbl-switch-label:before {
    background-color: lighten($primary, 40%);
}
.hbl-switch-input:checked + .hbl-switch-label:after {
    background-color: $primary;
    -ms-transform: translate(80%, -50%);
    -webkit-transform: translate(80%, -50%);
    transform: translate(80%, -50%);
}
.hbl-switch-input:checked + .hbl-switch-label .toggle--on {
    display: inline-block;
}
.hbl-switch-input:checked + .hbl-switch-label .toggle--off {
    display: none;
}
