.menu-cpt-wrapper {
    .navbar-toggler {
        padding: 10px;
    }

    .collapse-wrp {
        .icon {
            right: 15px;
        }
    }
}

.menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background;
    z-index: 6;
    max-width: none;

    .tree-wrp {
        position: relative;
    }
}

/* Animate overlay header fade in*/
.expand-enter .overlay-header {
    opacity: 0;
}

.expand-enter-to .overlay-header {
    opacity: 1;
}

.tree-menu-sub {
    min-width: 250px;
}

/* Tablet */
@media(min-width: 768px) {
    .menu-cpt-wrapper {
        z-index: 20;

        .navbar-toggler {
            margin-right: 15px;
        }
    }

    .menu-wrapper {
        width: 60%;
    }

    .menu-wrapper-desktop {
        .tree-menu {
            &:before {
                display: none;
            }
        }
    }
}

/* Desktop */
@media(min-width: 1025px) {
    .menu-cpt-wrapper {
        display: none;
    }
}
