$megamenu-columns: 5;
$megamenu-height: 46px;
$megamenu-background: $darkest-gray;

$megamenu-item-text-transform: uppercase;
$megamenu-item-font-size: 16px;
$megamenu-item-color: $white;
$megamenu-item-line-height: 19px;
$megamenu-item-highlight-size: 2px;
$megamenu-item-highlight-color: $primary;

nav {
    background-color: $megamenu-background;
}

.mega-menu-wrp {
    position: relative;
    height: $megamenu-height + $megamenu-item-highlight-size;

    .level-0-wrp {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .menu-item {
            text-transform: $megamenu-item-text-transform;
            font-size: $megamenu-item-font-size;
            line-height: $megamenu-item-line-height;
            padding-top: (($megamenu-height - $megamenu-item-line-height - $megamenu-item-highlight-size) / 2);
            padding-bottom: (($megamenu-height - $megamenu-item-line-height - $megamenu-item-highlight-size) / 2);
            margin: 0 50px 0 0;
            border: $megamenu-item-highlight-size solid transparent;
            color: $megamenu-item-color;

            &:last-child {
                margin: 0;
            }

            &:after {
                display:block;
                content:attr(name);

                text-transform: $megamenu-item-text-transform;
                font-size: $megamenu-item-font-size;
                line-height: $megamenu-item-line-height;

                font-weight:bold;
                visibility: hidden;
                overflow: hidden;
                height: 0;
            }

            &.active {
                border-bottom: $megamenu-item-highlight-size solid $megamenu-item-highlight-color;
                font-weight: $font-weight-bold;
            }
        }
    }

    .fixed-container {
        position: fixed;
        top: $header-height-desktop + 1px;
        left: 0;
        width: 100%;
        border-bottom: 1px solid $border-color;
        background-color: $background;
        z-index: -1;
    }

    .max-width-container {
        max-width: map_get($container-max-widths, xl);
        display: flex;
        margin: 0 auto;
        padding: 50px 15px;
    }

    .children-wrp {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 75%;
        max-height: 400px;
    }

    .child-wrp {
        width: calc(100% / #{$megamenu-columns});
        margin-bottom: 20px;
    }

    .child-item {
        width: 100%;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 20px;
    }

    .subchild-item {
        width: 100%;
        display: inline-block;
        font-size: 16px;
        line-height: 15px;
    }

    .category-teaser {
        width: 25%;
        max-height: 390px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .slide-top-bottom-enter-active, .slide-top-bottom-leave-active {
        transition: all .1s ease;
    }

    .slide-top-bottom-enter, .slide-top-bottom-leave-to {
        top: -500px;
        opacity: 0;
    }

    .slide-top-bottom-enter-to, .slide-top-bottom-leave {
        top: $header-height-desktop + 1px;
        opacity: 1;
    }
}
