.minicart-wrapper {
  a {
    color: $text-primary !important;
  }

  .product-qty {
    margin-bottom: 20px;
  }

  .qty-summary {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    padding: 12px 15px;
    border-bottom: 1px solid $border-color;
  }

  .separator {
    margin: 0 3px;
  }

  .no-items {
    margin: 0 !important;
  }

  .flash-message-wrp {
    box-shadow: none;
  }
}

.summary-wrp {
  .old-price {
    font-weight: 400;
    text-decoration: line-through;

    & + .sale-price {
      color: $error-accent;
      margin-left: 15px;
    }
  }
}

.minicart-cpt-wrp {
  position: relative;
  transition: all .2s ease;
  top: 0;

  .cart-icon {
    overflow: visible;
    .icon {
      &:before {
        font-size: 21px;
      }
    }

    &.active {
      color: $accent;
      border-radius: 0;

      &:before {
        content: '';
        width: 100%;
        height: 2px;
        background: $accent;
        position: absolute;
        bottom: -23px;
        left: 0;
        border-radius: 0;
      }
    }
  }

  &.inCart {
    width: 40px;
    height: 40px;

    .cart-icon {
      width: 40px;
      height: 40px;
    }

  }

  .totals {
    font-size: 14px;
    line-height: 21px;
    padding: 12px 0;
    border-bottom: 1px solid $border-color;
  }

}

/* Item count */
.item-count {
  position: absolute;
  background: $primary;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 100%;
  @include font-size($text-font-sizes);
  font-weight: $font-weight-medium;
  top: 11px;
  right: -5px;
  color: #fff;
}


/* Animate remove cart item from list */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s;
}
.list-enter,
.list-leave-to {
  background-color: $error-accent;
  opacity: 0;
}

/* Fixed checkout button */
.checkout-btn {
  position: relative;
  margin: 5px 0 10px;
  width: 100%;
}

.shopping-button {
  width: 100%;
}

/* Animate Checkout Button fade in*/
.expand-enter-active .checkout-btn, .expand-leave-active .checkout-btn {
  transition: all .2s ease;
  transition-delay: 0.5s;
}
.expand-leave-active .checkout-btn {
  transition-delay: 0s;
}
.expand-enter .checkout-btn, .expand-leave-to .checkout-btn {
  opacity: 0;
}
.expand-enter-to .checkout-btn, .expand-leave .checkout-btn{
  opacity: 1;
}

/* Tablet */
@media(min-width: 768px) {
  .minicart-cpt-wrp {
    position: relative;

    &.inCart {
      top: 0;
      width: auto;
      height: auto;

      .cart-icon {
        position: relative;
        background: transparent;
      }

      .item-count {
        color: #fff;
      }

    }
  }

  /* Relative checkout button */
  .checkout-btn {
    position: relative;
    top: unset; bottom: unset;
    width: 100%;
  }
}

/* Desktop */
@media(min-width: 1024px) {
  .minicart-cpt-wrp {
    .qty-summary {
      padding-left: 40px;
      padding-right: 40px;
    }

    .totals {
      padding-left: 25px;
      padding-right: 25px;
    }

    .checkout-btn {
      float: right;
      width: 45%;
      margin: 20px 20px 0 0 !important;
    }

    .shopping-button {
      float: left;
      width: 45%;
      margin: 20px 0 0 20px !important;
    }
  }
}
