.footer {
    background-color: $white;
    padding: 0;
    width: 100vw;

    .newsletter-box {
        .newsletter-headline {
            display: none;
        }

        .newsletter-subline {
            margin-bottom: 20px;
        }

        .hbl-input-group {
            margin-bottom: 0;
        }
    }

    .footer-link-wrp {
        .toggle {
            padding: 10px 20px;
            background-color: $white;
            border: 1px solid $border-color;
            text-transform: uppercase;
            text-align: left;

            &.active {
                background-color: $background-light;
            }
        }

        .collapse-wrp {
            margin-bottom: -1px;
        }

        .collapse {
            background-color: $background-light;
        }

        .content-wrp {
            padding: 20px;
        }

        .links {
            a {
                display: block;
                margin: 5px 0;
            }
        }
    }

    .logos {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: -5px;

        img {
            width: 75px;
            border: 1px solid $border-color;
            margin-right: 5px;
            margin-bottom: 20px;
            margin-left: 5px;
        }
    }

    .post-footer-wrp {
        border-top: 1px solid $border-color;
    }

    .follow-us-wrp {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;

        .follow-us-icons {
            display: flex;

            .icon {
                width: 20px;
                height: 26px;
                line-height: 26px;
                font-size: 20px;
                margin: 0 12px;
                vertical-align: sub;
            }
        }
    }

    .copyright-wrp {
        display: flex;
        align-items: center;
        justify-content: center;

        .copyright-text {
            text-align: center;
        }
    }

    .logo-wrp {
        height: 66px;
        padding: 20px 0;

        .logo picture img {
            width: 70px;
        }
    }
}

@media(min-width: 768px) {
    .footer {
        .newsletter-footer-wrp {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $background-light;
            padding: 60px;

            .newsletter-box {
                width: 700px;
                padding: 30px 40px;
                background-color: $white;
            }

            .newsletter-headline {
                display: block;
                margin-bottom: 10px;
            }

            .newsletter-subline {
                margin: 0;
                font-size: 14px;
            }

            .text-wrp {
                margin-bottom: 30px;
            }
        }

        .copyright-wrp {
            padding: 20px 0;
        }

        &.hubble-light {
            .footer-hint {
                padding: 0 80px;
            }
        }
    }
}

@media(min-width: 1024px) {
    .footer {
        padding: 0;
        position: absolute;
        bottom: 0;

        .footer-desktop {
            padding: 40px 15px;
            display: flex;
            justify-content: space-between;

            .column {
                min-width: 250px;
                max-width: 300px;
            }

            .title {
                font-weight: $font-weight-bold;
                margin-bottom: 15px;
            }

            .links {
                a {
                    display: block;
                    font-size: 14px;
                    line-height: 26px;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        .follow-us-wrp {
            justify-content: flex-start;
            height: 100%;

            .follow-us-icons {
                &:first-child {
                    .icon {
                        margin-left: 0;
                    }
                }
            }
        }

        .logo-wrp {
            .logo {
                margin: 0 0 0 auto;
            }
        }

        &.hubble-light {
            .sub-footer {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .copyright {
                    padding: 20px 60px 20px 100px;

                    .seal {
                        img {
                            width: 70px;
                        }
                    }
                }

                .copyright-text {
                    text-align: left;
                }

                .footer-hint {
                    margin: 0;
                    text-align: right;
                }
            }
        }
    }
}
