.tns-outer {
    position: relative !important;
    // with 100% minus the 2 times the width of control buttons (each 50px)
    width: calc(100% - 100px);
    margin: 0 auto;

    .tns-nav {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;

        button {
            padding: 0;
            margin: 3px;
            width: 10px;
            height: 10px;
            background: #ccc;
            border: 0;
            border-radius: 20px;

            &.tns-nav-active {
                background: #000;
            }
        }
    }

    .tns-controls {
        button {
            position: absolute;
            top: 0;
            bottom: 0;
            height: 50px;
            width: 50px;
            margin: auto;
            padding: 0;
            text-align: center;
            line-height: 30px;
            background-color: transparent;
            background-image: none;
            border: none;
        }

        button i {
            font-size: 30px;
        }

        button:disabled {
            opacity: 0.4;
        }

        button:first-child {
            left: -35px;
        }

        button:last-child {
            right: -35px;
        }
    }
}

.sw-blocks {
    .tns-controls {
        button {
            width: inherit;
        }

        button:first-child {
            left: -55px;
        }

        button:last-child {
            right: -55px;
        }
    }
}

.sw-blocks {
    .cms-element-image-gallery {
        .is--preview-left {
            .image-gallery__preview {
                .tns-ovh {
                    overflow: hidden;
                }

                .tns-outer {
                    top: 20px;
                    width: 100%;
                }

                .tns-controls {
                    button {
                        height: inherit;
                    }

                    button:first-child {
                        right: -55px;
                        bottom: inherit;
                        top: -30px;
                    }

                    button:last-child {
                        top: inherit;
                        left: -55px;
                        bottom: -34px;
                    }
                }

                .tns-carousel {
                    padding-bottom: 25px;
                }
            }
        }
    }
}

.tns-horizontal {
    &.tns-subpixel {
        & > .tns-item {
            vertical-align: middle;
        }
    }
}
