.mobile-header-actions-wrp {
    .back-btn-wrp {
        position: absolute;
        top: ($header-height-mobile - $button-icon-height) / 2;
        left: 10px;
    }

    .share-icon-wrp {
        position: absolute;
        top: ($header-height-mobile - $button-icon-height) / 2;
        right: 10px;
    }
}

.detail-wrp {
    margin-bottom: 30px;

    .breadcrumbs {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .detail-top-wrp {
        position: relative;
        width: 100%;

        .detail-actions-wrp {
            position: absolute;
            bottom: -20px;
            right: 20px;

            .add-to-wishlist-wrp {
                min-width: 0;
                min-height: 0;

                button {
                    background: $white;
                    width: 32px;
                    height: 32px;
                    min-width: 0;
                    min-height: 0;
                    margin: 0 auto 10px;

                    @include elevation-2;

                    i {
                        font-size: 16px;
                    }
                }
            }

            .add-to-cart {
                width: 44px;
                height: 44px;
                border-radius: 25px;
                padding: 0;
                margin: 0;

                @include elevation-2;

                i {
                    color: $secondary;
                    font-size: 24px;
                    height: 20px;
                    left: 0;
                    right: 0;
                }

                .cart-button-label {
                    width: 0;
                    height: 0;
                    overflow: hidden;
                    display: block;
                }
            }
        }
    }

    .price-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
}

.quantity-selector {
    margin-top: 10px;
}

.price-box {
    .calculated-prices {
        width: 100%;
        margin-bottom: 20px;

        .table-head {
            display: flex;

            .table-data {
                width: 50%;
            }

            border-bottom: 1px solid $border-color;
            padding: 10px 5px;
        }

        .table-row {
            display: flex;
            border-bottom: 1px solid $border-color;
            padding: 10px 5px;

            &:last-child {
                border: none;
            }

            .table-data {
                width: 50%;
            }
        }
    }

    .sale-price {
        @include font-size($h2-font-sizes);
        font-weight: $font-weight-bold;
    }

    .old-price {
        @include font-size($text-font-sizes);
        text-decoration: line-through;

        & + .sale-price {
            color: $error-accent;
            font-weight: $font-weight-bold;
        }
    }

    .unit-price-wrp {
        @include font-size($text-font-sizes);
        color: $text-light;
    }

    .info {
        @include font-size($text-font-sizes);
    }
}

.product-actions {
    position: fixed;
    z-index: 6;
    background-color: $background;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    opacity: 1;

    .lds-ring {
        margin: 0 6px;
    }
}

.product-actions-animation-enter-active, .product-actions-animation-leave-active {
    transition: all .5s ease;
}

.product-actions-animation-enter, .product-actions-animation-leave-to {
    bottom: -300px !important;
    opacity: 0;
}

.product-actions-animation-enter-to, .product-actions-animation-leave {
    bottom: 0 !important;
    opacity: 1;
}

.product-description-container {
    &.mobile-layout {
        .tab-content p {
            @include font-size($small-text-font-sizes);
        }
    }

    button {
        padding-left: 10px;
    }

    .product-description-wrp {
        float: left;
        width: 60%;
    }

    .link-leisten {
        font-weight: bold;
        text-decoration: underline;
    }
}

@media(min-width: 768px) {
    .detail-wrp {
        @include make-container();
        @include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints);
        display: flex;
        flex-wrap: wrap;
        padding: 15px;

        .breadcrumbs {
            padding-top: 0;
            padding-left: 0;
            padding-bottom: 10px;
        }

        .buybox-wrp {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            padding: 30px 0 0;
        }

        .detail-tabs {
            padding: 0 15px;
        }

        .product-description-container {
            width: 100%;
            padding-bottom: 40px;
            padding-right: 40px;
            padding-left: 40px;
            border-bottom: 1px solid $border-color;

            #description-anchor {
                position: relative;
                top: -$header-height-desktop;
                visibility: hidden;
            }
        }

        .description-content p {
            @include font-size($small-text-font-sizes);
        }

        .description-title {
            margin-bottom: 15px;
        }

        .price-box {
            display: block;
        }
    }

    .detail-container {
        position: relative;
    }

    .product-description-container {
        .product-description-wrp {
            width: 100%;
        }
    }
}

@media(min-width: 1024px) {
    .detail-wrp {
        padding-top: 0;

        .breadcrumbs {
            float: left;
            width: 60%;
        }

        .buybox-wrp {
            float: right;
            width: 40%;
            margin-top: -81px;
        }

        .product-description-container {
            width: 100%;
            border-top: 1px solid $border-color;
            padding-left: 0;
            padding-right: 0;


            .product-description-wrp {
                width: 60%;
                padding: 0 100px 0 0;
            }

            .care-products-wrp {
                float: right;
                width: 40%;
                padding: 0 40px;
            }
        }
    }
}
