.view-category,
.view-catalogsearch {
    .category-header {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
        position: relative;
        margin-bottom: 20px;
        min-height: 70px;

        &:before {
            content: '';
            background: $light-gray;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100vw;
            margin-left: calc(-50vw + 50%);
            z-index: -1;
        }

        .breadcrumbs {
            margin-top: 15px;
            .row {
                justify-content: center;
            }
        }

        .title {
            margin-top: 5px;
            margin-bottom: 15px;
        }
    }

    .manufacturer-teaser {
        margin-bottom: 20px;

        img {
            width: 100%;
        }
    }

    .main-categories {
        button {
            margin-bottom: 20px;
            margin-right: 10px;
        }

        .nuxt-link-exact-active {
            button {
                background: $primary;
                color: $background;
                border: 2px solid $primary;
            }
        }
    }

    .category-content-wrp,
    .search-content-wrp {
        padding: 0 $base-padding;

        .category-products-wrp,
        .search-products-wrp {
            padding: 0;

            .pagination-top {
                margin-bottom: 5px;
            }

            .pagination-bottom {
                margin-bottom: 20px;
            }

            .category-description {
                display: inline-block;
                margin-bottom: 20px;

                p {
                    margin-bottom: 20px;
                }

                h3,
                h4,
                h5 {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-weight: $font-weight-bold;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .view-category,
    .view-catalogsearch {
        .category-header {
            margin-bottom: 20px;
            min-height: 170px;

            .title {
                margin-top: 12px;
            }
        }

        .category-content-wrp,
        .search-content-wrp {
            padding: 0 $base-padding-md;

            .pagination-bottom {
                margin-bottom: 40px;
                margin-top: 15px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .view-category,
    .view-catalogsearch {
        .category-content-wrp,
        .search-content-wrp {
            display: flex;
            padding-left: $base-padding-md;
            padding-right: $base-padding-md;

            .sidebar {
                width: 180px;
                padding: 0 $base-padding-md 0 0;
            }

            .category-products-wrp,
            .search-products-wrp {
                flex: 1;

                .pagination-bottom {
                    margin-bottom: 40px;
                }
            }
        }
    }
}
