.overlay-header {
  position: relative;
  opacity: 1;
  transition: all .2s ease;
  transition-delay: .2s;
  border-bottom: 1px solid $border-color;
  height: 56px;
}

.header-wrp {
  position: relative;
  opacity: 1;
  border-bottom: 1px solid $border-color;
  min-height: 56px;
  background: $background;
}
