$mdc-theme-primary: $primary;
$mdc-theme-background: #fff;
$mdc-typography-font-family: $font-family;

@import "~material-components-vue/dist/button/styles";
@import "~material-components-vue/dist/floating-label/styles";
@import "~material-components-vue/dist/select/styles";
@import "~material-components-vue/dist/line-ripple/styles";

.mdc-button {
    &.rct-button-icon {
        border-radius: 50px;
        padding: 0;
        min-width: 36px;
    }

    &.rct-button-color-accent {
        background: $accent;
    }

    &.rct-primary {
        background: $primary;
        color: #fff;
    }

    &.rct-secondary {
        color: $primary;
    }
}
