// Have to be same variables as defined in plugins/vuetify.js
$primary: #880E4F;
$accent: #2C2E31;
$background: #fff;
$text-primary: #2C2E31;
$text-primary-on-background: #2C2E31;
$font-family: 'Rubik', Helvetica, Arial, sans-serif;
