$font-size-h1: 40px;
$font-size-h2: 60px;
$font-size-h3: 48px;
$font-size-h4: 34px;
$font-size-h5: 24px;
$font-size-h6: 20px;

$font-size-subtitle: 16px;
$font-size-subtitle-small: 14px;
$font-size-body: 16px;
$font-size-body-small: 14px;
$font-size-caption: 12px;
$font-size-button: 14px;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;

$line-height-base: 1.6;

p {
  font-size: $font-size-body;
  font-weight: $font-weight-regular;
  line-height: $line-height-base;
}

h1, h2, h3, h4, h5, h6 {
  line-height: $line-height-base;
}

h1 {
  font-size: $font-size-h1;
  font-weight: $font-weight-light;
}

h2 {
  font-size: $font-size-h2;
  font-weight: $font-weight-light;
}

h3 {
  font-size: $font-size-h3;
  font-weight: $font-weight-regular;
}

h4 {
  font-size: $font-size-h4;
  font-weight: $font-weight-regular;
}

h5 {
  font-size: $font-size-h5;
  font-weight: $font-weight-medium;
}

h6 {
  font-size: $font-size-h6;
  font-weight: $font-weight-medium;
}
