.dashboard-section-button-edit {
    margin-top: 20px;
}

.dashboard-section-title {
    font-weight: 700;
    margin: 35px 0 15px 0;
}

.dashboard-section-form {
    margin-top: 20px;
}

.dashboard-section-input-disabled {
    color: grey;
    background: white;
}
