.error-wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $background-light;
    padding: 60px;
    margin: 20px 0;
    border: 1px solid $border-color;
    width: 100%;

    i {
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        color: $border-color;
        font-size: 70px;
        margin-bottom: 20px;
    }

    h1, .headline-1 {
        margin-bottom: 10px;
        text-align: center;
    }

    button {
        margin-top: 20px;
    }
}

.error-listing {
    padding: 40px;

    .error-no-items {
        margin-bottom: 40px;
    }
}
