/*
Input Example:
<div class="hbl-input-group input-icon">
  <input type="text" required>
  <span class="highlight"></span>
  <span class="bar"></span>
  <label>Name</label>
  <i class="icon icon-optional"></i>
</div>
*/

$hbl-input-border: 1px solid $border-color;
$hbl-input-background: $bg-light-grey;
$hbl-input-font-size: 14px;
$hbl-input-padding: 7px;
$hbl-input-label-color: $text-light;
$hbl-input-icon-color: $primary;
$hbl-input-highlight-color: $primary;
$hbl-input-icon-size: 19px;

/* form starting stylings ------------------------------- */
.hbl-input-group {
    position: relative;
    margin-bottom: 5px;

    input {
        background: $hbl-input-background;
        font-size: $hbl-input-font-size;
        padding: $hbl-input-padding;
        display: block;
        width: 100%;
        border: $hbl-input-border;

        &.invalid {
            border-bottom: 1px solid red;
        }
    }

    input:focus {
        outline: 1px solid $hbl-input-label-color;
    }

    /* Icons ======================================= */
    &.input-icon {
        input {
            padding-right: $hbl-input-icon-size + $hbl-input-padding * 2;
        }
    }

    .icon {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: $hbl-input-padding;
        width: $hbl-input-icon-size;
        height: $hbl-input-icon-size;
        font-size: $hbl-input-icon-size;
        color: $hbl-input-icon-color;
        text-align: center;
    }

    /* LABEL ======================================= */
    label {
        color: $hbl-input-label-color;
        font-size: $hbl-input-font-size;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: $hbl-input-padding;
        top: $hbl-input-padding;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    /* active state */
    input:focus ~ label, input:valid ~ label {
        top: 0;
        font-size: 10px;
        color: rgba(0, 0, 0, 0.6);
    }

    input:focus ~ label {
        color: $hbl-input-highlight-color !important;
    }

    /* BOTTOM BARS ================================= */
    .bar {
        position: relative;
        display: block;
        width: 100%;
    }
    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 0;
        position: absolute;
        background: $hbl-input-highlight-color;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    .bar:before {
        left:50%;
    }
    .bar:after {
        right:50%;
    }

    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after {
        width:50%;
    }

    /* HIGHLIGHTER ================================== */
    .highlight {
        position:absolute;
        height:60%;
        width:100px;
        top:25%;
        left:0;
        pointer-events:none;
        opacity:0.5;
    }

    /* active state */
    input:focus ~ .highlight {
        -webkit-animation:inputHighlighter 0.3s ease;
        -moz-animation:inputHighlighter 0.3s ease;
        animation:inputHighlighter 0.3s ease;
    }

    .validation-msg {
        font-size: 12px;
        color: red;
    }

    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
        from { background:$hbl-input-highlight-color; }
        to 	{ width:0; background:transparent; }
    }
    @-moz-keyframes inputHighlighter {
        from { background:$hbl-input-highlight-color; }
        to 	{ width:0; background:transparent; }
    }
    @keyframes inputHighlighter {
        from { background:$hbl-input-highlight-color; }
        to 	{ width:0; background:transparent; }
    }

}
