.last-viewed--wrp {
    .last-viewed--header {
        display: flex;

        .last-viewed--title {
            text-transform: uppercase;
            font-weight: 700;
            padding-left: 12px;
            padding-top: 20px;
        }

        .last-viewed--button--show-all {
            padding-left: 40px;
            padding-right: 40px;
            margin-top: 12px;
            margin-left: 12px;
            color: $text-primary;
            transition: all 0.45s ease-in-out;
            border: 1px solid $text-primary;

            &:hover {
                background: $primary;
                color: $text-primary;
                box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.06);
            }
        }
    }

    .last-viewed--list {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        justify-content: center;

        .last-viewed--clickable {
            margin: 15px;
            padding: 5px;

            a {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-between;

                &:hover {
                    color: $text-primary;
                }
            }
        }

        .last-viewed--name {
            font-size: $font-size-subtitle;
            font-weight: 700;
            text-align: center;
            align-self: center;
            padding: 5px 0;
        }
    }
}

@media(min-width: 768px) {
    .last-viewed--wrp {
        .last-viewed--header {
            .last-viewed--title {
                padding-left: inherit;
            }
        }

        .last-viewed--list {
            justify-content: inherit;

            .last-viewed--clickable {
                width: 150px;
                transition: all 0.45s ease-in-out;

                &:first-of-type {
                    margin-left: 0;
                }

                &:hover {
                    transform: scale(1.1);
                    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.06);
                }
            }

            .last-viewed--image {
                height: 150px;
            }

            .last-viewed--name {
                align-self: flex-end;
            }
        }
    }
}
