$hbl-pagination-width: 36px;
$hbl-pagination-height: 36px;
$hbl-pagination-border-size: 0;
$hbl-pagination-font-size: 14px;
$hbl-pagination-icon-font-size: 22px;

.pagination {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    z-index: 0;
    position: relative;

    .page-item {
        padding: 0;
        width: $hbl-pagination-width;
        height: $hbl-pagination-height;
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }

    button {
        padding: 0;
        width: 100%;
        height: 100%;
        line-height: $hbl-pagination-height - $hbl-pagination-border-size * 2;
        border: $hbl-pagination-border-size solid $border-color;
        font-size: $hbl-pagination-font-size;

        i {
            display: block;
            width: 100%;
            height: 100%;
            line-height: $hbl-pagination-height - $hbl-pagination-border-size * 2;
            font-size: $hbl-pagination-icon-font-size;
        }

        &.current {
            font-weight: $font-weight-bold;
            color: $text-primary;
        }
    }
}
