.payone-payment-wrp {
    position: relative;

    .loader-wrp {
        position: absolute;
        background: $background-light;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cc-check-row {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        height: 50px;
        position: relative;

        label {
            display: none;
        }

        span {
            display: flex;
            align-items: center;
        }

        // Height of input
        iframe {
            height: 42px;
            width: 250px;
        }
    }

    #expireInput {
        width: 250px;
        justify-content: space-between;
        iframe {
            width: 122px;
        }
    }

    #error {
        padding: 10px 0;
        color: $error-accent;
    }
}

@media(min-width: 768px) {
    .payone-payment-wrp {
        padding: 0 20px 20px 36px;

        .cc-check-row {
            display: flex;
            align-items: center;
            margin-bottom: 5px;

            label {
                display: inline-block;
                width: 180px;
            }
        }
    }
}
