.product-img-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 0;

    .media {
        width: 100%;

        .product-pics {
            width: 100%;

            .tns-controls {
                button:first-child {
                    left: 0;
                }

                button:last-child {
                    right: 0;
                }

                i {
                    font-size: 30px;
                }
            }

            .tns-ovh {
                margin-left: 30px;
                margin-right: 30px;
            }
        }
    }

    .v--modal-overlay {
        z-index: 10000;

        .v--modal-box {
            overflow: visible;
            height: 100vh !important;
            width: 100vw !important;
        }
    }
}

.gallery {
  .badge-wrp {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 2;

      display: flex;
      align-items: center;
  }

  img {
    width: auto;
    max-width: 100%;
    max-height: 240px;
    margin: auto;
    display: block;
  }
}




.v--modal-background-click {
  display: flex !important;
  align-items: center !important;
}

.v--modal-box.v--modal {
  position: absolute;
  height: auto !important;
  top: 0 !important;
  left: 0 !important;
  margin: auto;
  padding: 40px;

  .tns-outer {
      width: 100%;
  }

  .tns-item {
      min-height: 0;
  }

  img {
    max-height: 800px;
  }
}

.gallery-item {
  padding: 30px 0;
}

.detail-gallery {
  height: 100%;
  display: flex;
  align-items: center;

  .close {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 1;
  }
}

@media(min-width: 768px) {
  .gallery {

      .badge-wrp {
          top: 0;
          right: 15px;
      }

      img {
        width: auto;
        max-width: 100%;
        max-height: 500px;
      }
  }

  .product-img-box {
      padding: 0 0 20px;
  }



  .image-thumbnails-container {
      margin: 0 auto;

      .tns-item {
          margin: 0 5px;
      }
  }

  .thumbnail-image-wrp {
      border: 1px solid $border-color;
      height: 80px;
      padding: 0 10px;

      img {
          max-height: 60px;
      }
  }

  .selected {
      border: 1px solid $accent;
  }
}

@media(min-width: 1024px) {
  .gallery {
    .v--modal-box.v--modal {
      height: 900px !important;
      width: 900px !important;
    }

      .badge-wrp {
          top: 10px;
          right: 100px;
      }

      .thumbnail-image-wrp {
          cursor: pointer;
      }

      img {
        cursor: pointer;
      }
  }

  .gallery-item {
      padding-top: 0;
  }

  .product-img-box {
      padding: 0 100px 0 0;
      margin-bottom: 40px;
  }
}
