.text-excerpt {
    .collapsed {
        display: inline-block;
    }

    .show-more {
        display: inline-block;
        font-size: $font-size-body;
        line-height: $line-height-body;
        color: $text-primary;
        text-decoration: underline;
        cursor: pointer;
    }
}

@media(min-width: 768px) {
    .text-excerpt {
        .show-more {
            font-size: 16px;
        }
    }
}
