$megamenu-columns: 5;

.mega-menu-wrp {
    margin: 0 auto 0 30px;
    position: relative;

    .level-0-wrp {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu-item {
            height: $header-height-desktop + 1px;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 18px;
            padding: 30px 0;
            margin: 0px 15px;
            border: 2px solid transparent;
            transition: all 0.45s ease-in-out;

            &:hover {
                color: $text-primary;
                font-weight: bold;
            }

            &.active {
                border-bottom: 2px solid $primary;
            }

            &:nth-child(6) {
                color: $highlight;
            }
        }
    }

    .fixed-container {
        position: fixed;
        top: $header-height-desktop + 1px;
        left: 0;
        width: 100%;
        border-bottom: 1px solid $border-color;
        background-color: $background;
        z-index: -1;
    }

    .max-width-container {
        max-width: map_get($container-max-widths, xl);
        display: flex;
        margin: 0 auto;
        padding: 50px 15px;
    }

    .children-wrp {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 75%;
        max-height: 400px;
    }

    .child-wrp {
        width: calc(100% / #{$megamenu-columns});
        margin-bottom: 20px;
        padding: 5px 10px;
        border: 1px solid white;
        transition: all 0.45s ease-in-out;

        &:hover {
            border: 1px solid $text-primary;
            background: $primary;
        }

        a {
            &:hover {
                color: $text-primary !important;
            }
        }
    }

    .child-item {
        width: 100%;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 20px;
    }

    .subchild-item {
        width: 100%;
        display: inline-block;
        font-size: 16px;
        line-height: 15px;
    }

    .category-teaser {
        width: 25%;
        max-height: 390px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .slide-top-bottom-enter-active, .slide-top-bottom-leave-active {
        transition: all .1s ease;
    }

    .slide-top-bottom-enter, .slide-top-bottom-leave-to {
        top: -500px;
        opacity: 0;
    }

    .slide-top-bottom-enter-to, .slide-top-bottom-leave {
        top: $header-height-desktop + 1px;
        opacity: 1;
    }

    .manufacturer-sub-col {
        width: 25%;

        .spacer {
            margin-top: 20px;
        }

        a {
            display: block;
        }
    }
}
