.wishlist-wrapper {
  a {
    color: $text-primary !important;
  }

  .qty-summary {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    padding: 12px 15px;
    border-bottom: 1px solid $border-color;
  }

  .actions {
      position: sticky;
      bottom: 65px;
      padding: 0 15px 15px;
      background: $background;
      margin-left: -15px;
      margin-right: -15px;
  }
}

.wishlist-cpt-wrp {
  position: relative;
  transition: all .2s ease;
  top: 0;

  .wishlist-icon {
    overflow: visible;
    .icon {
      &:before {
        font-size: 20px;
      }
    }

    &.active {
      color: $accent;
      border-radius: 0;

      &:before {
        content: '';
        width: 100%;
        height: 2px;
        background: $accent;
        position: absolute;
        bottom: -15px;
        left: 0;
        border-radius: 0;
      }
    }

    /* Item count */
    .item-count {
      background: $primary;
    }
  }

  &.inCart {
    width: 40px;
    height: 40px;

    .wishlist-icon {
      width: 40px;
      height: 40px;
    }

  }

}

/* Fixed checkout button */
.wishlist-button {
  position: relative;
  margin: 15px 0 10px;
  width: 100%;
}

.shopping-button {
  width: 100%;
}

/* Animate Checkout Button fade in*/
.expand-enter-active .wishlist-button, .expand-leave-active .wishlist-button {
  transition: all .2s ease;
  transition-delay: 0.5s;
}
.expand-leave-active .wishlist-button {
  transition-delay: 0s;
}
.expand-enter .wishlist-button, .expand-leave-to .wishlist-button {
  opacity: 0;
}
.expand-enter-to .wishlist-button, .expand-leave .wishlist-button{
  opacity: 1;
}

/* Desktop */
@media(min-width: 768px) {
  .wishlist-cpt-wrp {
    position: relative;

    &.inCart {
      top: 0;
      width: auto;
      height: auto;

      .wishlist-icon {
        position: relative;
        background: transparent;
      }

      .item-count {
        color: #fff;
      }

    }
  }

  .wishlist-wrapper {
      .actions {
          position: relative;
          padding: 0;
          margin: 0;
          margin-bottom: 20px;
          background: #fff;
          display: inline-block;
          width: 100%;
          bottom: 0;
      }

      .newsletter-wrp {
          .newsletter-box {
              width: 80%;
              margin: 0 auto;
          }

          #mc_embed_signup_scroll {
              width: 100%;
          }
      }
  }

  /* Relative checkout button */
  .wishlist-button {
    position: relative;
    top: unset; bottom: unset;
    width: 100%;
  }

}

/* Desktop */
@media(min-width: 1024px) {
  .wishlist-cpt-wrp {
    .qty-summary {
      padding-left: 40px;
      padding-right: 40px;
    }

    .wishlist-button {
      float: right;
      width: 45%;
      margin: 20px 20px 0 0 !important;
    }

    .shopping-button {
      float: left;
      width: 45%;
      margin: 20px 0 0 20px !important;
    }
  }
}
