.customer-dashboard {
    .sidebar-wrp {
        margin-top: 20px;

        .link-wrp {
            background-color: #fff;
            padding: 0;
            display: flex;
            flex-direction: column;

            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

            a {
                border-bottom: 1px solid $border-color;

                &.nuxt-link-active {
                    button {
                        color: $primary;
                    }
                }

                button {
                    font-size: 12px;
                    text-transform: uppercase;
                    color: $text-primary;
                    font-weight: bold;
                    box-shadow: none;
                    border: none;
                    text-align: left;
                }
            }
        }
    }

    .content-wrp {
        margin-top: 20px;

        .title {
            font-size: 24px;
            margin: 10px 0;
        }

        .box {
            background-color: #fff;
            padding: 15px;
            margin-bottom: 20px;

            .box-title {
                font-weight: bold;
                margin-bottom: 20px;
            }

            .box-content {
                * {
                    font-size: 14px;
                    line-height: 16px;
                }
            }

            .box-utils {
                display: flex;
                flex-wrap: wrap;
            }
        }

        .t-wrapper {
            font-size: 14px;
        }

    }
}

.login-wrp, .register-wrp {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    max-width: 450px;

    .title {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 25px;
    }

    button {
        width: 100%;
        margin: 10px 0;
    }
}

@media(min-width: 768px) {
    .customer-dashboard {
        .t-wrapper {
            .t-row {
                .t-col {
                    width: calc( 100% / 5 );
                }
            }
        }

        .content-wrp {
            margin-bottom: 50px;

            .box {
                .box-utils {
                    button {
                        width: auto;
                    }
                }
            }
        }
    }

    .customer-addresses {
        .content-wrp {
            .box {
                .box-utils {
                    button {
                        width: 50%;
                    }
                }
            }
        }
    }

    .login-wrp {
        margin: 40px auto;
    }
}
