.main-container {
    padding: 0;
}

.detail-back-btn {
    position: relative;

    .hidden-link-name {
        position: relative;
        vertical-align: middle;
        text-indent: 0;
        width: auto;
        height: auto;
    }

    i {
        vertical-align: middle;
    }
}

.detail-wrp {
    margin-bottom: 40px;

    .breadcrumbs {
        width: 100%;
    }

    .price-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .tns-horizontal.tns-subpixel > .tns-item {
        vertical-align: middle;
    }

    .tns-item {
        height: 100%;

        a.fancybox-trigger {
            display: flex;
            align-items: center;
        }
    }
}

.gallery {
    border-top: 1px solid $border-color;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.quantity-selector {
    margin-top: 10px;
}

.price-box {
    .calculated-prices {
        width: 100%;
        margin-bottom: 20px;

        .table-head {
            display: flex;

            .table-data {
                width: 50%;
            }

            border-bottom: 1px solid $border-color;
            padding: 10px 5px;
        }

        .table-row {
            display: flex;
            border-bottom: 1px solid $border-color;
            padding: 10px 5px;

            &:last-child {
                border: none;
            }

            .table-data {
                width: 50%;
            }
        }
    }

    .sale-price {
        font-size: $font-size-h2;
        font-weight: $font-weight-bold;
    }

    .old-price {
        font-size: $font-size-caption;
        text-decoration: line-through;

        & + .sale-price {
            color: $error-accent;
            font-weight: $font-weight-bold;
        }
    }

    .unit-price-wrp {
        font-size: $font-size-body;
        line-height: $line-height-body;
        color: $text-light;
    }

    .info {
        font-size: $font-size-caption;
    }
}

.product-actions {
    position: fixed;
    z-index: 6;
    background-color: $background;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    opacity: 1;

    .lds-ring {
        margin: 0 6px;
    }
}

.product-actions-animation-enter-active, .product-actions-animation-leave-active {
    transition: all .5s ease;
}

.product-actions-animation-enter, .product-actions-animation-leave-to {
    bottom: -300px !important;
    opacity: 0;
}

.product-actions-animation-enter-to, .product-actions-animation-leave {
    bottom: 0 !important;
    opacity: 1;
}

.availability {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 2px;

    &.in-stock {
        &:before {
            display: none;
        }
    }
}

.product-description-container {
    &.mobile-layout {
        .tab-content p {
            font-size: $font-size-body-small;
        }
    }

    button {
        padding-left: 10px;
    }

    .product-description-wrp {
        float: left;
        width: 60%;
    }

    .link-leisten {
        font-weight: bold;
        text-decoration: underline;
    }
}

@media(min-width: 768px) {
    .catalog-product-view {
        .product-carousel {
            padding: 0;
        }
    }

    .detail-wrp {
        @include make-container();
        @include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints);
        display: flex;
        flex-wrap: wrap;
        background: $background;
        padding: 20px;

        .gallery {
            border-top: none;
            width: 100%;
        }

        .product-tabs {
            width: 100%;
            box-shadow: none;
            border: none;
        }

        .product-description-container {
            width: 100%;
            padding-bottom: 40px;
            padding-right: 40px;
            padding-left: 40px;
            border-bottom: 1px solid $border-color;

            #description-anchor {
                position: relative;
                top: -$header-height-desktop;
                visibility: hidden;
            }
        }

        .description-content p {
            font-size: $font-size-body-small;
            line-height: 24px;
        }

        .description-title {
            margin-bottom: 15px;
        }

        .price-box {
            display: block;
        }
    }

    .detail-container {
        position: relative;
    }

    .product-description-container {
        .product-description-wrp {
            width: 100%;
        }
    }
}

@media(min-width: 1024px) {
    .detail-wrp {
        padding-top: 0;

        .breadcrumbs {
            float: left;
            width: 60%;
        }

        .gallery {
            float: left;
            width: 60%;
        }

        .buybox-wrp {
            float: right;
            width: 40%;
            margin-top: -81px;
        }

        .product-description-container {
            width: 100%;
            border-top: 1px solid $border-color;
            padding-left: 0;
            padding-right: 0;


            .product-description-wrp {
                width: 60%;
                padding: 0 100px 0 0;
            }

            .care-products-wrp {
                float: right;
                width: 40%;
                padding: 0 40px;
            }
        }
    }
}

@media (max-width: 767px) {
    /* Product gallery */
    .gallery {

        .product-img-box {

            .v--modal-overlay {

                .v--modal-box {
                    left: 0 !important;
                }
            }
        }
    }
}
