.wishlist-item-list-wrapper {
  img {
    margin: auto;
    display: block;
  }

  a {
    color: $text-primary !important;
  }

  .item {
    border-bottom: 1px solid $border-color;
    padding: 15px 0;

    .actions-wrp {
      margin-bottom: auto;

      .action-top{
        // hbl select height so it looks like cart
        height: $hbl-select-height;
        margin-bottom: 40px;
      }
    }
  }

  .img-wishlist {
    max-width: 60px !important;
    max-height: 60px !important;
  }

  .product-name {
    font-size: $font-size-caption;
  }

  .selected-variants {
    font-size: $font-size-body;
    margin-bottom: 5px;
  }

  .product-price, .product-qty, .separator {
    font-size: 14px;
    font-weight: $font-weight-bold;
  }

  .old-price {
    font-weight: 400;
    text-decoration: line-through;

    & + .sale-price {
      color: $error-accent;
      margin-left: 15px;
    }
  }

}

.remove-item, .details-item, .reset-item {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  text-decoration: underline;
  transition: all 0.2s;
  transform: rotate(0deg);
  cursor: pointer;
}

.details-item {
  margin-bottom: 20px;
}


/* Tablet */
@media(min-width: 768px) {

  .wishlist-item-list-wrapper {
    .product-name {
      font-size: 14px;
    }

    .product-price {
      font-size: 16px;
    }

  }

  .remove-item, .details-item, .reset-item {
    font-size: 16px;
  }
}

/* Desktop */
@media(min-width: 1024px) {
  .wishlist-item-list-wrapper {
    .item {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}
