.theme-container.theguide .page .imageComponentBox {
    transition: all 0.45s ease-in-out;
    z-index: 923;
}

.theme-container.theguide .page .imageComponentBox:hover {
    transform: scale(1.35);
}