:root {
  // brand colors
  --vp-c-accent: #A20158;
  --vp-c-accent-bg: #c0026b;
  --vp-c-accent-hover: #A20158;

  --vp-c-acc: #A20158;
}

[data-theme=dark] {
  // brand colors darkmode
  --vp-c-accent: #d00171;
  --vp-c-accent-bg: #f60189;
  --vp-c-accent-hover: #d00171;

  --vp-c-acc: #d00171;
}

// Handle darkmode logo inside contents
.logo-bright {
  display: block;
}

.logo-dark {
  display: none;
}

[data-theme=dark] {
  .logo-bright {
    display: none;
  }

  .logo-dark {
    display: block;
  }
}

.contains-task-list {
  padding-left: 0;
}

.contains-task-list li {
  list-style-type: none;
}

.vp-page-nav .route-link {
  border: none;
}
