/* Fade effect between pages */
.fade-page-enter-active,
.fade-page-leave-active {
  transition: all .2s ease;
}

.fade-page-enter,
.fade-page-leave-active {
  opacity: 0
}

/* Ripple magic */
.custom-ripple{
  position: relative;
  overflow: hidden;
  margin :10px;
}

.custom-ripple:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .7);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

.nuxt-progress {
  background: $primary;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.custom-ripple:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}

@mixin custom-ripple() {
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(0, 0, 0, .1);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
  }

  &:active::after {
    animation: ripple .3s ease-out;
  }
}

.no-shadow {
  box-shadow: none;

  &:hover,
  &:active,
  &:focus {
    box-shadow: none;
  }
}

#rocket-launcher {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10000;
  background-color: #fff;
  transition: all 0.2s ease;
  opacity: 1;
  @include flex;
  align-items: center;
  justify-content: center;

  &.hide {
    opacity: 0;
  }
}

/* Loading Dots */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: $primary;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

/* Loading Ring */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 5px 0;
  border: 3px solid $primary;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $primary transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#page-dummy {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;

  .main-container {
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
  }

  .navbar {
    .search-cpt-wrp {
      display: block !important;
    }

    .action-wrp {
      display: block !important;
    }

    .menu-cpt-wrapper {
      display: block !important;
    }
  }

  .search-cpt-wrp {
    display: none !important;
  }

  .action-wrp {
    display: none !important;
  }

  .menu-cpt-wrapper {
    display: none !important;
  }
}

.hidden-link-name {
  position: absolute;
  text-indent: -100000px;
  width: 1px;
  height: 1px;
}

.index-wrp-desktop {
  display: none;
}

.index-wrp-mobile {
  display: block;

  .tns-outer {
    button {
      display: none;
    }
  }

  .mobile-teaser {
    &.fullscreen {
      width: 100%;
      height: calc(100vh - 111px);
      object-fit: cover;
    }
  }
}


.not-hubble {
  $x-primary: grey;

  color: darken( $x-primary, 30% ) !important;

  .rct-button-primary {
    background-color: $x-primary;
    border: 2px solid $x-primary;
  }

  .rct-button-secondary {
    border: 2px solid $x-primary;
    color: $x-primary !important;

    i {
      color: $x-primary !important;
    }
  }

  .halfcircle::before {
    box-shadow: 0 0 0 500px $x-primary;
  }

  .tabs-component .tabs-component-tabs .tabs-component-tab.is-active a {
    color: $x-primary;
  }

  .tabs-component .active-bar {
    background-color: $x-primary !important;
  }

  .vue-slider-component .vue-slider-process {
    background-color: $x-primary !important;
  }

  .logo {
    img {
      top: 20px;
    }
  }
}

@media(min-width: 768px) {
  #page-dummy {
    .search-cpt-wrp {
      display: block !important;
    }
    .action-wrp {
      display: flex !important;
    }
    .menu-cpt-wrapper {
      display: block !important;
    }
    .navbar {
      display: none !important;
    }
  }
  .index-wrp-desktop {
    display: block;
  }
  .index-wrp-mobile {
    display: none;
  }

  .nuxt-progress {
    background: #fff;
  }
}

a:not(.md-button):hover {
  text-decoration: none;
}

