.flash-message-wrp {
    position: absolute;
    bottom: 95px;
    width: 100%;
    left: 0;
    padding: 20px;
    opacity: 1;

    &.info {
        background: #fff;
        color: $text-primary;

        i {
            color: $text-primary;
        }
    }

    &.success {
        background: #007032;
        color: #fff;

        i {
            color: #fff;
        }
    }

    &.error {
        background: red;
        color: #fff;

        i {
            color: #fff;
        }
    }

    .flash-message {
        padding-right: 30px;
    }

    .close-flash {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.flash-message-enter-active {
    animation: bounce-in .5s;
}
.flash-message-leave-active {
    animation: bounce-in .5s reverse;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@media(min-width: 768px) {
    .flash-message-wrp {
        position: absolute;
        bottom: inherit;
        top: 101px;
        width: calc(100% - 30px);
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 10;
        opacity: 1;
    }

    .flash-message-enter-active {
        animation: fall-down .5s;
    }
    .flash-message-leave-active {
        animation: fall-down .5s reverse;
    }

    @keyframes fall-down {
        0% {
            top: 56px;
            opacity: 0;
        }
        100% {
            top: 101px;
            opacity: 1;
        }
    }
}
