.language-wrp {
    margin-left: -15px;
    margin-right: -15px;

    .link-wrp {
        padding: 0;

        > a {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/* Desktop */
@media(min-width: 768px) {
    .language-wrp {
        margin-left: 0;
        margin-right: 0;

        .link-wrp {
            padding: 0 !important;
        }
    }
}
