.listing-wrp {
  position: relative;
  z-index: 2;

  .row {
    margin-left: -5px;
    margin-right: -5px;

    .col {
      padding: 0px;

      &:nth-child(odd) {
        .product-card {
          border-left: none;
          border-right: none;
        }
      }

      &:nth-child(even) {
        .product-card {
          border-right: none;
        }
      }

      &:nth-last-child(-n+2) {
        .product-card {
          border-bottom: none !important;
        }
      }
    }
  }

  .product-card {
    @include flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-media {
    @include flex;
    align-items: center;
    justify-content: center;
    min-height: 230px;
    position: relative;
  }

  .card-header {
    background-color: transparent;
    border-bottom: none;
    padding-bottom: 0;
  }

  .card-content {
    padding: 0 20px 12px;
    margin-bottom: 0;
  }

  .card-expand {
    @include flex;
    justify-content: center;
    padding: 0 15px 15px;
  }

  .slider-item {
    height: 420px;
    padding-bottom: 5px;
    padding-top: 5px;

    .product-card {
      height: 100%;
    }

    img {
      max-height: 200px;
    }
  }

  .options-wrp {

    .option-wrp {

      .option-val-wrp {

        .option-val {
          border: none;
          padding: 5px 5px;
          color: lighten($text-primary, 15%);
        }
      }
    }
  }
}

.product-carousel {
  margin-bottom: 20px;
}

.pager {
  margin-bottom: 15px;
  margin-top: 15px;

  .md-button {
    min-width: 32px;
    height: 32px;
    margin: 0;
  }

  .pagination {
    list-style: none;
    padding: 0;
    margin: 0;
    @include flex;
    justify-content: center;
    z-index: 0;
    position: relative;

    button {
      padding: 12px 20px;
    }

    li {
      padding: 0;

      .dots {
        vertical-align: sub;

        i {
          line-height: 49px;
        }
      }
    }
  }
}

.vue-slider-component .vue-slider-process {
  background-color: $primary !important;
}

.category-header, .search-result-header {
  position: relative;
  margin: 0 auto;
  padding: 38px 0 15px;
  text-align: center;
  background-color: #ECF0F1;

  .category-info {
    width: 100%;
    overflow: hidden;

    > h1 {
      font-size: 21px;
      line-height: 24px;
      text-transform: uppercase;
    }
    .description {
      font-size: 16px;
      line-height: 19px;

      h1 {
        display: none;
      }
    }

    .description + h1 {
      display: none;
    }
  }
}

.search-result-header {
  h1 {
    font-size: 30px;
  }
}

.breadcrumbs {
  padding: 15px 0;

  ul {
    list-style: none;
    @include flex;
    margin: 0;
    padding: 0;

    li {
      margin-right: 5px;
      font-size: 14px;
    }
  }
}

@media(min-width: 768px) {
  .category-header, .search-result-header {
    margin: 10px auto 0;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 13px;
    padding-right: 13px;
    background-color: transparent;
  }

  .pagination-top {
    @include flex();
    align-items: center;
    justify-content: flex-end;

    .pagination {
      justify-content: flex-end;
    }
  }

  .pager {
    .pagination {
      li {
        .dots {
          padding: 0 13px;
        }
      }
    }
  }

  .listing-wrp {
    .row {
      .col {
        &:nth-child(odd) {
          .product-card {
            border: 1px solid #ECF0F1;
          }
        }
        &:nth-child(even) {
          .product-card {
            border: 1px solid #ECF0F1;
          }
        }

        .product-card {
          border-left: none !important;
          border-top: none !important;
        }

        &:nth-child(3n) {
          .product-card {
            border-right: none !important;
          }
        }

        &:nth-last-child(-n+3) {
          .product-card {
            border-bottom: none !important;
          }
        }
      }
    }
  }
}
