.logo-wrp {
  height: 55px;
  @include flex;
  align-items: center;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.logo {
  margin: 5px auto;
  display: block;
  overflow: hidden;
  vertical-align: middle;
  height: auto;

  img {
    width: 130px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 1;
  }

  .logo-desktop {
    display: none;
  }

  .logo-mobile {
    display: block;
  }

  #logo {
    path, polygon {
      fill: md-theme(accent);
      &.bg-primary {
        fill: $primary;
      }
    }
  }
}

/* Desktop */
@media(min-width: 768px) {
  .logo-wrp {
    float: left;
    text-align: left;
    width: auto;
    background-color: $primary;
    border-bottom: 0;
    height: 45px;
  }
  .logo {
    display: block;

    img {
      position: relative;
      top: inherit;
    }

    .logo-desktop {
      display: block;
    }

    .logo-mobile {
      display: none;
    }

    #logo {
      path, polygon {
        fill: #fff;
        &.bg-primary {
          fill: #fff;
        }
      }
    }
  }
}
