.menu-cpt-wrapper {
  z-index: 20;

  .collapse-wrp {
    .rct-chevron-down,
    .rct-chevron-up {
      right: 15px;
    }
  }
}

.menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $background;
  z-index: 6;
  max-width: none;


  .tree-wrp {
    position: relative;
  }
}

.account-wrp {
  background: $light-gray;

  .toggle {
    margin: 0;
  }

  .content-wrp {
    padding: 10px;
    @include flex;
    flex-direction: column;
  }

  .md-button+.md-button {
    margin-left: 8px;
  }
}

/* Animate overlay header fade in*/
.expand-enter .overlay-header {
  opacity: 0;
}
.expand-enter-to .overlay-header {
  opacity: 1;
}

/* Desktop */
@media(min-width: 768px) {
  .menu-cpt-wrapper {
    width: 100%;
    z-index: 20;
  }
  .menu-wrapper-desktop {
    .tree-menu {
      &:before {
        display: none;
      }
    }
  }
}
