.filter-wrp {
  @include flex;
  flex-direction: column;
  align-items: flex-end;
  min-height: 56px;
  min-width: 56px;
  max-width: 70%;
  padding: 8px;
  background-color: $background;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  overflow: hidden;
  border-radius: 0 0 0 20px;

  .navbar-toggler {
    width: auto;
  }

  /* Filter Tabs */
  .md-tabs {
    width: 100%;

    .md-tab {
      max-height: calc(100vh - 162px);
      overflow-y: scroll;
    }
  }
  .tab-wrp {
    position: relative;
  }

  /* Open filter button */
  .open-filter {
    padding: 0 !important;
    font-size: $font-size-button+2;

    /* Active filter icon (cross) */
    i {
      margin: 0 auto;
      transform: rotate(0);
      transition: all .2s ease;

      &.active {
        transform: rotate(90deg);

        &::before {
          content: "\F00D"; //icon-cross
        }
      }
    }
  }

  .selected-filters {
    @include flex;
    flex-wrap: wrap;
    width: 100%;

    button {
      margin-right: 10px;
      margin-bottom: 10px;

      i {
        margin-left: 5px;
      }
    }
  }
}

.scale-enter-active,
.scale-leave-active {
  transition: all .3s ease-out;
}
.scale-enter,
.scale-leave-to {
  max-height: 0;
}
.scale-enter-to,
.scale-leave {
  max-height: 500px;
  width: 100%;
}
.sort-direction {
  margin-top: 15px;
}
.md-checkbox {
  @include flex;
}

/* Desktop */
@media(min-width: 768px) {
  .filter-wrp {
    width: 100%;
    max-width: 100%;
    padding-right: 3px;
    padding-left: 3px;

    position: relative;

    border-radius: 0;
    background-color: #fff;
    z-index: 10;

    .md-tabs {
      .md-tab {
        overflow-y: auto;
      }
    }
  }
}
