/* Static wrapper to be able to scroll in overlay */
.position-static {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  left: 0;
  padding-bottom: 165px;
  width: 100%;
}

.minicart-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $background;
  z-index: -1;
  max-width: none;

  a {
    color: $text-primary !important;
  }

  .product-name {
    font-size: $font-size-caption;
  }

  .product-price, .product-qty, .separator {
    font-size: $font-size-caption;
    font-weight: $font-weight-bold;
  }

  .old-price {
    font-weight: 400;
    text-decoration: line-through;

    & + .sale-price {
      color: $error-accent;
      margin-left: 15px;
    }
  }

  .separator {
    margin: 0 3px;
  }

  .no-items {
    margin: 0 !important;
  }
}

.summary-wrp {
  .old-price {
    font-weight: 400;
    text-decoration: line-through;

    & + .sale-price {
      color: $error-accent;
      margin-left: 15px;
    }
  }
}

.minicart-cpt-wrp {
  position: relative;
  transition: all .2s ease;
  top: 0;

  .cart-icon {
    transform: rotate(0);
    transition: all .2s ease;
    z-index: 1;

    .rct-shopping-cart {
      margin: 0 auto;
    }

    .rct {
      &:before {
        font-size: 25px;
      }
    }

    &.active {
      transform: rotate(90deg);

      i::before {
        content: "\F00D";
      }
    }
  }

  &.inCart {
    width: 56px;
    height: 56px;
    top: -28px;

    .cart-icon {
      padding: 0;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      width: 56px;
      height: 56px;
      margin: 0 auto;
      z-index: 15;
      border-radius: 100%;
    }

  }

}

/* Item count */
.item-count {
  position: absolute;
  background: #FF6600;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 100%;
  font-size: $font-size-caption;
  font-weight: $font-weight-medium;
  top: 0;
  right: 0;
  color: #fff;
  z-index: 16;
}

.minicart-wrapper .item {
  border-bottom: 1px solid $border-color;
}

/* Animate remove cart item from list */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s;
}
.list-enter,
.list-leave-to {
  background-color: $error-accent;
  transform: translateX(100%);
}

.remove-item {
  transition: all 0.2s;
  transform: rotate(0deg);
  cursor: pointer;
}

/* Fixed checkout button */
.checkout-btn {
  position: relative;
  margin: 20px 0;
  width: 100%;
}

/* Animate Checkout Button fade in*/
.expand-enter-active .checkout-btn, .expand-leave-active .checkout-btn {
  transition: all .2s ease;
  transition-delay: 0.5s;
}
.expand-leave-active .checkout-btn {
  transition-delay: 0s;
}
.expand-enter .checkout-btn, .expand-leave-to .checkout-btn {
  opacity: 0;
}
.expand-enter-to .checkout-btn, .expand-leave .checkout-btn{
  opacity: 1;
}

/* Desktop */
@media(min-width: 768px) {
  .position-static {
    width: auto;
    padding-bottom: 0;
    left: unset;
    height: auto;
    overflow-y: auto;
  }

  .minicart-cpt-wrp {
    position: relative;

    .cart-icon {
      .rct {
        color: #fff;

        &:before {
          font-size: 18px;
        }
      }
    }

    &.inCart {
      top: 0;
      width: auto;
      height: auto;

      .cart-icon {
        position: relative;
        background: transparent;
        width: 46px;
        height: 46px;
      }

      .item-count {
        background: #FF6600;
        color: #fff;
      }

    }
  }

  .minicart-wrapper {
    position: absolute;
    width: 300px;
    height: auto;
    z-index: 100;
    right: 0;
    left: unset;
    top: unset;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.3);
  }

  /* Relative checkout button */
  .checkout-btn {
    position: relative;
    top: unset; bottom: unset;
    width: 100%;
    margin: 20px 0 !important;
  }
}
