.footer {
    background-color: #fff;
    border-top: 2px solid $border-color;
    padding: 0;

    [class^="col-"]{
        margin-bottom: 30px;
    }

    .title {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .links {
        a {
            display: block;
            font-size: 14px;
            line-height: 34px;
            color: md-theme(text-primary);

            &:hover {
                text-decoration: none;
            }
        }
    }

    .logos {
        @include flex;
        align-items: center;
        flex-wrap: wrap;

        img {
            width: 75px;
            border: 1px solid $border-color;
            margin-right: 20px;
            margin-bottom: 20px;
        }
    }
}

.copyright {
    border-top: 1px solid $border-color;
    text-align: center;
    padding: 15px 10px;
    margin: 0;

    p {
        margin: 0;
        font-size: 14px;
    }
}

@media(min-width: 768px) {
    .footer {
        padding: 40px 0 0;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}
