/* Global HTML */
*,
*::before,
*::after {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: $font-family;
    color: $text-primary;
    line-height: 24px;
    font-size: 1rem;
    background-color: $background;
    overflow-x: hidden;
}

/* Links */
a {
    color: $text-primary;
}

a:hover,
a:focus {
    color: $primary;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

.link-primary {
    cursor: pointer;
    color: $blue;
    text-decoration: underline;

    &:hover {
        color: $blue;
        text-decoration: none;
    }

    &:focus {
        color: $blue;
        text-decoration: none;
    }
}

.hidden-link-name {
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* nuxt.js specific */
.nuxt-progress {
    background: $primary;
}
