@font-face {
    font-family: 'icons';
    src: url('~assets/fonts/icons/hubble.eot');
    src: url('~assets/fonts/icons/hubble.eot') format('embedded-opentype'),
    url('~assets/fonts/icons/hubble.woff2') format('woff2'),
    url('~assets/fonts/icons/hubble.ttf') format('truetype'), url('~assets/fonts/icons/hubble.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e917";
}
.icon-check:before {
    content: "\e93e";
}
.icon-chevron-down:before {
    content: "\e93f";
}
.icon-chevron-left:before {
    content: "\e940";
}
.icon-chevron-right:before {
    content: "\e941";
}
.icon-chevron-up:before {
    content: "\e942";
}
.icon-search:before {
    content: "\e9dd";
}
.icon-shopping-bag:before {
    content: "\e9e5";
}
.icon-account:before {
    content: "\ea13";
}
.icon-x:before {
    content: "\ea23";
}
