$error-accent: #d0021b;
$success-accent: #2db96c;
$info-accent: #0b5460;
$warning-accent: #856404;

$green: #5cdb95;
$blue: #05386b;
$gold: #d4a76f;
$darkest-gray: #1b1b24;
$darker-gray: #3e3e4d;
$dark-gray: #94949e;
$gray: #e7e8e9;
$light-gray: #f7f7fa;
$white: #ffffff;

$primary: $green !default;
$secondary: $blue !default;
$accent: $green !default;
$background: $white !default;
$background-light: $light-gray !default;
$border-color: $gray !default;
$text-primary: $darkest-gray !default;
$text-light: $dark-gray !default;

$font-family: 'Karla', sans-serif !default;

$border-radius: 0 !default;
$header-height-mobile: 56px !default;
$header-height-desktop: 72px !default;
$header-navigation-height-desktop: 46px !default;

$base-padding: 10px !default;
$base-padding-md: 20px !default;

$form-max-width: 450px;

/* Bootstrap scss variables start */
$container-max-widths: (
    sm: 768px,
    md: 1024px,
    lg: 1200px
);

$grid-breakpoints: (
    xs: 0,
    md: 768px,
    lg: 1024px
) !default;

$enable-grid-classes: true !default;
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
/* Bootstrap scss variables end */
