$error-accent: #d0021b !default;
$success-accent: #2db96c !default;
$info-accent: #0b5460 !default;
$warning-accent: #856404 !default;

$green: #5cdb95 !default;
$blue: #05386b !default;
$gold: #d4a76f !default;
$darkest-gray: #1b1b24 !default;
$darker-gray: #3e3e4d !default;
$dark-gray: #94949e !default;
$gray: #e7e8e9 !default;
$light-gray: #f7f7fa !default;
$white: #ffffff !default;

$primary: $green !default;
$secondary: $blue !default;
$accent: $green !default;
$checkout: $green !default;
$background: $white !default;
$background-light: $light-gray !default;
$border-color: $gray !default;
$text-primary: $darkest-gray !default;
$text-light: $dark-gray !default;

$box-shadow: 0 6px 10px 0 rgba(27,27,36,0.03), 0 1px 18px 0 rgba(27,27,36,0.04), 0 3px 5px -1px rgba(27,27,36,0.05) !default;
$box-shadow-circle: 0 2px 2px 0 rgba(62,62,77,0.1), 0 3px 1px -2px rgba(62,62,77,0.07), 0 1px 5px 0 rgba(62,62,77,0.15) !default;

$font-family: 'Karla', sans-serif !default;

$font-size-base: 16px !default;
$font-size-lg: 20px !default;
$font-size-sm: 14px !default;
$font-size-xs: 12px !default;

$border-radius: 0 !default;
$header-height-mobile: 56px !default;
$header-height-desktop: 78px !default;
$header-navigation-height-desktop: 46px !default;

$base-padding: 10px !default;
$base-padding-sm: calc(#{$base-padding} / 2) !default;
$base-padding-md: $base-padding * 2 !default;
$base-padding-lg: $base-padding * 3 !default;
$base-padding-xl: $base-padding * 4 !default;
$base-padding-xxl: $base-padding * 5 !default;

$cms-block-margin: 40px;

$form-max-width: 570px !default;

/* Bootstrap scss variables start */
$container-max-widths: (
    sm: 768px,
    md: 1024px,
    lg: 1240px,
) !default;

$grid-breakpoints: (
    xs: 0,
    md: 768px,
    lg: 1024px,
) !default;

$enable-grid-classes: true !default;
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
/* Bootstrap scss variables end */
