@mixin spacing($sp-map, $sp-breakpoints: $grid-breakpoints) {
    @each $sp-breakpoint, $sp-spacing in $sp-map {
        @if $sp-breakpoint == null {
            @include make-spacing($sp-spacing);
        } @else {
            // If $sp-spacing is a key that exists in
            // $sp-breakpoints, use the value
            @if map-has-key($sp-breakpoints, $sp-breakpoint) {
                $sp-breakpoint: map-get($sp-breakpoints, $sp-breakpoint);
            }
            @media screen and (min-width: $sp-breakpoint) {
                @include make-spacing($sp-spacing);
            }
        }
    }
}

// Utility function for mixin font-size
@mixin make-spacing($sp-spacing) {
    // If $sp-spacing is a list, include
    // both font-size and line-height
    @if type-of($sp-spacing) == 'list' {
        @if (length($sp-spacing) > 1) {
            padding: nth($sp-spacing, 1) nth($sp-spacing, 2) nth($sp-spacing, 3) nth($sp-spacing, 4);
        }
    } @else {
        padding: $sp-spacing;
    }
}

$section-spacing-lg: (
    null: (
        20px,
        0,
        20px,
        0,
    ),
    md: (
        50px,
        0,
        50px,
        0,
    ),
    lg: (
        75px,
        0,
        75px,
        0,
    ),
);

$section-spacing-md: (
    null: (
        20px,
        0,
        20px,
        0,
    ),
    md: (
        30px,
        0,
        30px,
        0,
    ),
    lg: (
        40px,
        0,
        40px,
        0,
    ),
);
