$hbl-alert-success-color: $success-accent;
$hbl-alert-info-color: $info-accent;
$hbl-alert-error-color: $error-accent;
$hbl-alert-warning-color: $warning-accent;

$hbl-alert-success-background-color: #DEF8EA;
$hbl-alert-info-background-color: #D1ECF1;
$hbl-alert-error-background-color: #F8D7DA;
$hbl-alert-warning-background-color: #FFF3CD;

$hbl-alert-info-border-color: #BEE5EB;
$hbl-alert-error-border-color: #F5C6CB;
$hbl-alert-warning-border-color: #FFEEBA;

.flash-messages-wrp {
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 10000;
    opacity: 1;

    .flash-message-container {
        display: flex;
        flex-direction: column;
        opacity: 1;
        position: relative;
        margin-bottom: 10px;
    }


    .flash-move {
        transition: transform .3s ease-in-out;
    }


    .flash-enter-active {
        animation: fall-down .3s;
    }


    .flash-leave-active {
        animation: fall-down .3s reverse;
    }


    @keyframes fall-down {
        0% {
            top: 56px;
            opacity: 0;
        }
        100% {
            top: 101px;
            opacity: 1;
        }
    }


    // experimental
    @keyframes fall-up {
        0% {
            top: 101px;
            opacity: 1;
        }
        100% {
            top: 0;
            opacity: 0;
        }
    }


    // experimental
    @keyframes slide-in {
        0% {
            left: -156px;
            opacity: 0;
        }
        100% {
            left: 0;
            opacity: 1;
        }
    }


    .flash-box {
        width: 100%;
        padding: 20px 40px;
        opacity: 1;
        box-shadow: 0 4px 10px 0 rgba(41, 40, 47, .1);
        padding-left: 55px;

        .close-flash {
            position: absolute;
            top: 0;
            right: 0;
        }

        .flash-message {
            padding-right: 10px;
        }

        &:before {
            font-family: 'icons';
            color: $text-primary;
            font-size: 23px;
            line-height: 20px;
            text-align: center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 15px;
            width: 20px;
            height: 20px;
            margin: auto;
        }

        &.info {
            background: $hbl-alert-info-background-color;
            color: $hbl-alert-info-color;
            border: 1px solid $hbl-alert-info-border-color;

            &:before {
                content: '\e994';
                color: $hbl-alert-info-color;
            }

            i {
                color: $hbl-alert-info-color;
            }
        }

        &.success {
            background: $hbl-alert-success-background-color;
            color: $hbl-alert-success-color;

            &:before {
                content: '\e903';
                color: $hbl-alert-success-color;
            }

            i {
                color: $hbl-alert-success-color;
            }
        }

        &.error {
            background: $hbl-alert-error-background-color;
            color: $hbl-alert-error-color;
            border: 1px solid $hbl-alert-error-border-color;

            &:before {
                content: '\e915';
                color: $hbl-alert-error-color;
            }

            i {
                color: $hbl-alert-error-color;
            }
        }

        &.warning {
            background: $hbl-alert-warning-background-color;
            color: $hbl-alert-warning-color;
            border: 1px solid $hbl-alert-warning-border-color;


            &:before {
                content: '\e913';
                color: $hbl-alert-warning-color;
            }

            i {
                color: $hbl-alert-warning-color;
            }
        }
    }
}


.transition-expand-wrp {
    .flash-messages-wrp {
        position: relative;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;

        .flash-message-container {
            right: 0;
            width: 100%;
        }
    }

    .close-flash {
        bottom: 0;
        right: 15px;
        padding-left: 75px;
        padding-right: 75px;
    }
}


@media(min-width: 768px) {
    .flash-messages-wrp {
        position: absolute;
        bottom: inherit;
        top: 101px;
        width: 320px;
        left: inherit;
        right: 20px;
        margin: 0 auto;
        z-index: 10000;
        opacity: 1;
    }
}



@media(min-width: 1024px) {
    .transition-expand-wrp {
        .flash-box {
            &:before {
                left: 35px;
            }
        }

        .close-flash {
            right: 35px;
        }

        .flash-message {
            padding-left: 20px;
        }
    }
}
