$error-accent: #721c25;
$success-accent: #2db96c;
$info-accent: #0b5460;
$warning-accent: #856404;

$green: #5CDB95;
$blue: #05386B;
$gold: #D4A76F;
$darker-gray: #3E3E4D;
$dark-gray: #94949E;
$gray: #E7E8E9;
$light-gray: #F7F7FA;
$white: #FFFFFF;

$primary: $green !default;
$secondary: $blue !default;
$accent: $green !default;
$background: $white !default;
$background-light: $light-gray !default;
$border-color: $gray !default;
$text-primary: $darker-gray !default;
$text-light: $dark-gray !default;

$font-family: 'Karla', sans-serif !default;

$border-radius: 0 !default;
$header-height-desktop: 80px !default;
$base-padding: 10px !default;
$base-padding-md: 20px !default;

$breakpoints: (
  tablet : 768px,
  desktop : 1024px
);
