$primary: #880E4F !default;
$secondary: #EAE9EA !default;
$accent: #880E4F !default;
$highlight: #BD1A20 !default;
$background: #fff !default;
$background-light: #F8F8F8 !default;
$border-color: #EAE9EA !default;
$text-primary: #2C2E31 !default;
$text-primary-on-background: #2C2E31 !default;
$available-accent: #76BD1A !default;
$font-family: 'Lato', Helvetica, Arial, sans-serif !default;
$text-light: #535358 !default;
$header-height-desktop: 80px !default;
$border-radius: 0 !default;

$base-padding: 10px !default;
$base-padding-md: 20px !default;
