@font-face {
    font-family: "Karla";
    font-display: swap;
    src: local("Karla"),
    url("../fonts/Karla-VariableFont_wght.woff2") format("woff")
}

@font-face {
    font-family: 'Adjusted Arial Fallback';
    src: local(Arial);
    size-adjust: 100%;
    ascent-override: 91%;
    descent-override: normal;
    line-gap-override: normal;
}
