/* Global HTML */
*,
*::before,
*::after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family;
  color: $text-primary;
  line-height: 24px;
  font-size: 1rem;
  background-color: #fff;
  overflow-x: hidden;
}

a {
  color: $text-primary;
}

a:hover, a:focus {
  color: $primary;
}

a, a:hover, a:focus {
  text-decoration: none;
}

/* nuxt.js specific */
.nuxt-progress {
  background: $primary;
}

main {
    padding-top: 125px;
}

@media (min-width: 576px) {
  .container {
    max-width: 768px;
  }
}

@media(min-width: 768px) {
  body {
    padding-bottom: 0;
  }

  .container {
    max-width: 768px;
  }

  main {
    padding-top: $header-height-desktop + 1px;
  }
}

@media(min-width: 992px) {
  .container {
    max-width: 1200px;
  }
}

@media(min-width: 1200px) {
  .container {
    max-width: map-get($container-max-widths, xl);
  }
}
