$primary: #880E4F;
$secondary: #EAE9EA;
$accent: #880E4F;
$highlight: #BD1A20;
$background: #fff;
$background-light: #F8F8F8;
$border-color: #EAE9EA;
$text-primary: #2C2E31;
$text-primary-on-background: #2C2E31;
$font-family: 'Lato', Helvetica, Arial, sans-serif;
$text-light: #535358;
$header-height-desktop: 80px;
$border-radius: 0;

$base-padding: 10px;
$base-padding-md: 20px;
